/*
1. 多个字段组字段间隔
 */
.mod-reim-template {
	width: 900px;
	margin: 0 auto;
	height: auto;
	padding: 0;
	font-family: STHeitiSC-Light;
}
.mod-reim-template .page-content-area {
	padding-bottom: 20px;
}
.mod-reim-template .header {
	text-align: right;
	border: none;
}
.mod-reim-template a {
	display: inline-block;
	width: 130px;
	height: 45px;
	background: url("/static/img/mod/template/btn-add.png");
}

.mod-reim-template a:hover {
	background-image: url("/static/img/mod/template/btn-add.active.png");
}

.mod-reim-template .paper {
	margin-bottom: 20px;
}
.mod-reim-template .paper .header-wrap {
	height: 60px;
}
.mod-reim-template .paper .paper-header {
	height: 60px;
	background: url("/static/img/mod/template/bg-template-header.png") repeat-x;
	border-radius: 3px 3px 0 0;
	position: relative;
	padding-left: 32px;
	width: 900px;
	z-index: 999;
}
.mod-reim-template .paper .paper-header.fixed {
	position: fixed;
	z-index: 999;
	top: 0;
}

.mod-reim-template .paper .paper-header .name {
	position: relative;
    float: left;
    top: 18px;
    padding-right: 36px;
}

.mod-reim-template .paper .paper-header .name input {
	border: none;
	background: transparent !important;
	color: #fff !important;
	padding: 0;
	font-size: 18px;
	height: 24px;
}

.mod-reim-template .paper .paper-header .name .icon {
	width: 36px;
	height: 36px;
	position: absolute;
    top: -5px;
    right: 0;
	background: url("/static/img/mod/template/36/btn-edit.png") no-repeat center center;
	display: none;
}

.mod-reim-template .paper.show .paper-header .name input {
	border-bottom: 1px dotted #fff;
}
.mod-reim-template .paper.show .paper-header .name .icon {
	display: inline-block;
}

.mod-reim-template .paper .paper-header .buttons {
	margin-top: 12px;
	margin-right: 24px;
}
.mod-reim-template .paper .paper-header .buttons .button {
	height: 36px;
	width: 36px;
}

.mod-reim-template .paper .paper-header .buttons .btn-eye {
	background: url("/static/img/mod/template/36/btn-eye.png") repeat-x;
	display: none;
}

.mod-reim-template .paper .paper-header .buttons .btn-trash {
	background: url("/static/img/mod/template/36/btn-trash.png") repeat-x;
}

.mod-reim-template .paper .paper-header .buttons .btn-accordion:hover {
    background-image: url("/static/img/mod/template/36/btn-down.dark.png");
}

.mod-reim-template .paper.show .paper-header .buttons .btn-accordion:hover {
    background-image: url("/static/img/mod/template/36/btn-up.dark.png");
}

.mod-reim-template .paper .paper-header .buttons .btn-trash:hover {
	background-image: url("/static/img/mod/template/36/btn-trash.dark.png");
}

.mod-reim-template .paper .paper-header .buttons .btn-eye:hover {
    background-image: url("/static/img/mod/template/36/btn-eye.dark.png");
}

.mod-reim-template .field-table-title .buttons .button {
	margin-left: 8px;
}
.mod-reim-template .field-table-title .buttons .btn-trash:hover {
	background-image: url("/static/img/mod/template/24/btn-trash.dark.png");
}
.mod-reim-template .field-table-title .buttons .btn-edit:hover {
	background-image: url("/static/img/mod/template/24/btn-edit.dark.png");
}
.mod-reim-template .field-table-title .buttons .btn-drag:hover {
	background-image: url("/static/img/mod/template/24/btn-drag.dark.png");
}
.mod-reim-template .wrap {
	background: #F6F9FB;
	padding: 30px;
}

.mod-reim-template .paper .paper-content {
	background: #fff;
	padding: 20px;
	border-radius: 2px;
}

.mod-reim-template .paper-content .title {
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: bold;
	color: #596774;
	padding: 20px;
    padding-bottom: 47px;
    padding-top: 27px;
}

.mod-reim-template .paper-content .title input {
    border: none;
    background: transparent;
    color: #fff;
    padding: 18px;
    color: #596774;
    font-size: 18px;
    text-align: center;
}

.mod-reim-template .field-group .field-options .field-name,
.mod-reim-template .field-group .field-options .field-type,
.mod-reim-template .field-group .field-options .field-desc,
.mod-reim-template .field-group .field-options .field-checkbox {
    padding-right: 10px;
}

.mod-reim-template .field-group .field-options .field-name input,
.mod-reim-template .field-group .field-options .field-type select,
.mod-reim-template .field-group .field-options .field-desc input,
.mod-reim-template .field-group .field-options .field-checkbox label {
    font-size: 14px;
    color: #4a4a4a;
}

.mod-reim-template .field-group .btn-add-field-group {
    display: inline-block;
    width: 100px;
    height: 45px;
    background: url("/static/img/mod/template/btn-add-field-group.png") no-repeat;
}
.mod-reim-template .field-group .btn-add-field-group:hover {
    background-image: url("/static/img/mod/template/btn-add-field-group.hover.png");
}

.mod-reim-template .field-group.row-group .column-wrap {
    margin: 30px 0;
}
.mod-reim-template .default-field-table .field-table-title {
	font-weight: bold;
}

.mod-reim-template .default-field-table .btn-eye {
	display: inline-block;
	width: 36px;
	height: 24px;
	background: url("/static/img/mod/template/36/btn-eye.gray.png") no-repeat center center;
}

.mod-reim-template .default-field-table .btn-eye:hover {
	background-image: url("/static/img/mod/template/36/btn-eye.dark.png");
}

.mod-reim-template .default-field-table .field-table-content-multi-row {
	width: 80%;
}

.mod-reim-template .default-field-table .field-table-content-multi-row .field-table-content {
	width: 100%;
}

.mod-reim-template .default-field-table .field-table-content-multi-row .field-checkbox,
.mod-reim-template .default-field-table .field-table-content-multi-row .field-radio {
	margin-bottom: 16px;
}

.mod-reim-template .paper-footer {
	padding-left: 45px;
    background-color: #f8fafc;
}

.mod-reim-template .paper-footer a {
	height: 45px;
	width: 100px;
	margin: 30px 0 30px 10px;
}
.mod-reim-template .paper-footer .btn-cancel {
	margin: 30px 200px 30px 150px;
	margin-left: 20%;
	background: url("/static/img/mod/template/btn-cancel.png") no-repeat;
}

.mod-reim-template .paper-footer .btn-preview {
	background: url("/static/img/mod/template/btn-preview.png") no-repeat;
	display: none;
}

.mod-reim-template .paper-footer .btn-save {
	background: url("/static/img/mod/template/btn-save.png") no-repeat;
}

.mod-reim-template .paper-footer .btn-save:hover {
	background: url("/static/img/mod/template/btn-save.active.png") no-repeat;
}
.mod-reim-template .paper .wrap {
	height: 0;
	overflow: hidden;
	padding: 0;
}

.mod-reim-template .paper.show .wrap {
	height: auto;
	overflow: visible;
	padding: 30px;
}

.mod-reim-template .paper.show .paper-header {
	box-shadow: none;
	height: 60px;
}

.mod-reim-template .paper .paper-header {
	box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.10);
	height: 70px;
}

.mod-reim-template .paper .paper-header .buttons .btn-accordion {
	background: url("/static/img/mod/template/36/btn-down.png") center center no-repeat;
}

.mod-reim-template .paper.show .paper-header .buttons .btn-accordion {
    background-image: url("/static/img/mod/template/36/btn-up.png");
}

.mod-reim-template .default-field-table label {
	color: #4a4a4a;
}

.mod-reim-template .print-settings {
	border-top: none;
	border-radius: 2px;
	background-color: #fff;
	margin-top: 10px;
	padding: 0 62px;
}

.mod-reim-template .print-settings .group-container {
	padding-bottom: 60px;
}
.mod-reim-template .print-settings .column-wrap {
	padding: 30px 0;
	border-top: 1px solid #f2f6fa;
}
.mod-reim-template .print-settings:hover {
	box-shadow: none;
}
.mod-reim-template .print-settings .field-table-title {
	color: #596774;
	padding: 0 0;
	margin: 0;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;
	height: 36px;
	line-height: 36px;
}
.mod-reim-template .print-settings .field-table-title .btn-accordion {
	width: 36px;
	height: 36px;
	background: url("/static/img/mod/template/36/btn-down.dark.png") center center no-repeat;
}

.mod-reim-template .print-settings .field-table-title .btn-accordion.btn-up {
	background-image: url("/static/img/mod/template/36/btn-up.dark.png");
}

.mod-reim-template .print-settings .pager-size .field-radio {
	display: inline-block;
	margin: 0 40px 0 0;
}

.mod-reim-template .title-category {
	color: #4a4a4a;
	font-size: 14px;
	margin: 20px 0;
}
/*dragging ui*/
.mod-reim-template .field-table.sortable-ghost {
	visibility: hidden;
}
.mod-reim-template .field-table.sortable-chosen {
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.30);
	filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#ff0000);
	zoom: 1;
	border: 1px solid rgba(0, 0, 0, 0.30);
	border-bottom-width: 3px;
	opacity: 1 !important;
}
/* field-table compoents */

.field-table {
	font-size: 14px;
	/*overflow: hidden;*/
	border-radius: 3px;
    padding: 32px 45px;
    padding-top: 0;
    border: 1px solid #fff;
}

.field-table:hover {
	/*border: 1px solid #f2f6fa;*/
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.30);
	filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#ff0000);
	zoom: 1;
}


.field-table .line,
.field-group .line {
	border-top: 1px solid #f2f6fa;
	position: relative;
	top: -1px;
}
.field-table:hover .line,
.field-group:hover .line {
	visibility: hidden;
}
.field-table .field-table-title {
	color: #4a4a4a;
	padding-left: 20%;
	font-size: 14px;
	margin: 16px 0;
	position: relative;
	line-height: 24px;
	height: 24px;
}

.field-table .field-table-content {
	width: 80%;
	font-size: 14px;
    border: 1px solid #ABABAB;
    border-right: none;
    border-bottom: none;
    border-radius: 3px;
    
}

.field-table .field-table-content table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table;
	background-color: transparent;
	text-align: center;
}
.field-table .field-table-content table thead th {
	background: rgba(89, 102, 116, 0.80);
    color: #FFFFFF;
    height: 30px;
    text-align: center;
}

.field-table .field-table-content table td {
	height: 30px;
	/*vertical-align: middle;*/
}
.field-table .field-table-content table td, th {
    border-right: 1px solid #b9b9b9;
	border-bottom: 1px solid #b9b9b9
}

.field-group {
	font-size: 14px;
	/*overflow: hidden;*/
	border-radius: 3px;
    padding: 32px 45px;
    padding-top: 0;
    border: 1px solid #fff;
}
.field-group .field-group-title {
    padding: 10px 20%;
}

.field-group .field-group-title .field-input {
    width: 160px;
    line-height: 27px;
}
.field-group .field-checkbox {
	padding-left: 52px;
}
.field-group .field-select {
	width: 90px;
}
.field-table .field-table-label, .field-group .field-group-label {
    text-align: left;
    width: 20%;
    color: #b9b9b9;
    font-size: 14px;
}

.field-group .field-group-rows {
    width: 80%;
}
.field-group .field-group-rows .field-options {
    margin-bottom: 10px;
}
.field-group .field-group-rows .btn-trash {
    width: 24px;
    height: 24px;
    background: url("/static/img/mod/template/24/btn-trash.png") no-repeat center center;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}
.field-group .field-group-rows .btn-trash:hover {
	background-image: url("/static/img/mod/template/24/btn-trash.dark.png");
}

.field-group .field-group-footer {
    position: relative;
    height: 42px;
}

.field-group .field-group-footer .buttons {
    padding: 12px 20px;
    float: right;
    height: 24px;
    white-space: nowrap;

}

.field-group .field-group-footer .buttons .button {
	cursor: default;
    padding-left: 28px;
    height: 24px;
    width: auto;
    white-space: nowrap;
    font-size: 14px;
    line-height: 24px;
    margin-left: 14px;
    background: url("/static/img/mod/template/24/btn-add.png") no-repeat 0 center;
}
.field-group .field-group-footer .buttons .button:hover {
	opacity: 0.6;
}

.field-group .field-group-footer .buttons .btn-save {
    background-image: url("/static/img/mod/template/24/btn-save.png");
}
.field-group .field-group-footer .buttons .btn-cancel {
    background-image: url("/static/img/mod/template/24/btn-cancel.png");
}

.field-radio-options {

}
.field-radio-option {
	width: 280px;
	display: table;
	margin-top: 20px;
}
.field-radio-options .field-input {
	display: table-cell;
}
.field-input .loading {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.6);
	width: 100%;
	height: 100%;
	padding-right: 14px;
	text-align: center;
	line-height: 200%;
}
.field-input .loading.show {
	display: block;
}
.field-radio-options .btn-add-input {
	display: table-cell;
	height: 36px;
	width: 36px;
	background: url("/static/img/mod/template/24/btn-add-input.png") no-repeat center center;
}
.field-radio-options .btn-add-input:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
}
.field-radio-options .btn-add-input.btn-delete-input {
	background-image: url("/static/img/mod/template/24/btn-delete-input.png");
}
.field-bank-options .field-checkbox {
	padding-left: 0;
	margin-top: 20px;
}
.fields {
	display: table;
	padding: 30px;
	background: #f2f6fa;
	width: 100%;
}
.fields .field-name {
	padding: 0;
}
.table-layout {
    display: table;
    font-size: 0;
    width: 100%;
}

.table-cell {
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;
}

.field-input  {
	margin: 0;
	padding: 0px;
	border: rgba(89, 102, 116, 0.50);
	border-radius: 2px !important;
}

.field-input input {
	padding: 5px 4px 6px 8px;
	width: 100%;
	display: block !important;
	color: #4a4a4a
}

.field-select {
	width: 100%;
	border: 1px solid rgb(213, 213, 213);
	background: #fff;

	height: 34px;
} 
.field-select select {
	display: block;
	width: 100%;
	border: none;
	height: 100%;
}

.field-checkbox {
	position: relative;
	height: 18px;
	vertical-align: middle;
}
.field-checkbox input[type="checkbox"] {
	visibility: hidden;
}

.field-checkbox label {
	padding-left: 24px;
	background: url("/static/img/mod/template/18/input-checkbox.blue.png") no-repeat;
	height: 18px;
	white-space: nowrap;
	line-height: 18px;
	margin: 0;
}
.field-checkbox.white label {
	background-image: url("/static/img/mod/template/18/input-checkbox.png");
}
.field-checkbox.checked label {
	background-image: url("/static/img/mod/template/18/input-checkbox.selected.png");
}
.field-checkbox.checked.disabled label {
	background-image: url("/static/img/mod/template/18/input-checkbox.selected.disabled.png");
	color: #929292;
}


.field-radio {
	position: relative;
	height: 18px;
	vertical-align: middle;
}
.field-radio input[type="radio"] {
	visibility: hidden;
}

.field-radio label {
	padding-left: 24px;
	background: url("/static/img/mod/template/18/input-radio.png") no-repeat;
	height: 18px;
	white-space: nowrap;
	line-height: 18px;
	margin: 0;

}
.field-radio.checked label {
	background-image: url("/static/img/mod/template/18/input-radio.checked.png");
}

/* end field-compoents */

.none {
	display: none;
}
.buttons {
	white-space: nowrap;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
    padding: 0;
    font: 0/0 normal;
}
.buttons .button {
	height: 24px;
	width: 24px;
	display: inline-block;
	/*margin-left: 20px;*/
}
.buttons .btn-trash {
	background-image: url("/static/img/mod/template/24/btn-trash.png");
}
.buttons .btn-edit {
	background-image: url("/static/img/mod/template/24/btn-edit.png");
}
.buttons .btn-drag {
	background-image: url("/static/img/mod/template/24/btn-drag.png");
}

 
/*animation ui*/
.transition {
	transition: .3s linear all;
	-webkit-transition: .3s linear all;
	-o-transition: .3s linear all;
	-moz-transition: .3s linear all;
	-ms-transition: .3s linear all;
}
 