.mod-imports-stash {
	margin-top: 10px;
}

.mod-imports-stash h2 {
	font-size: 14px;
}


.mod-imports-stash td {
	position: relative;
}

/*
components css
 */
.field-error {
	color: #C20000 !important;
}

.field-warn {
	color: #1D478E !important;
}

.field-modified {
	color: #1D478E !important;
}
.field-error input,
.field-modified input {
	position: absolute;
	color: #333 !important;
	border: none;
	outline: none;
	margin: 0;
	padding: 2px;
	width: 100px;
	left: 0;
	height: 100%;
	width: 100%;
	top: 0;
}

.field-error {
	padding-right: 20px;
}

.field-tip {
	height: 16px;
	width: 16px;
	display: inline-block;
	text-align: center;
	font: 10px/16px normal bolder;
	background: #C20000;
	color: #fff;
	border-radius: 100%;
	float: right;
	top: 8px;
	right: 4px;
	position: absolute;
	cursor: pointer;
}

.field-value {
	display: inline-block;
}

.can-import {
	color: #00c500;
}
