body {
	margin: 0;
	min-width: 291px;
	font-family: "Avenir-Light", "HelveticaNeue-Light", "Segoe UI Light", "Roboto-Light", "Lantinghei SC Extralight", "MicrosoftYaHeiLight" ,"STXihei", sans-serif;
}
#email a{
    color: white;
}
#email p {
	color: white;
	margin-top: 75px;
}
#email div {
	margin-top: 17px;
	width: 160px;
	height: 50px;
	border-radius: 25px;
	border:0;
	float: left;
	font-size: 23px;
	background-color: #FE575C;
	line-height: 50px;
	text-align: center;
}
#email {
	display: none;
}
#email div:hover {
background-color: #ff7075;
}
#form-login {
	/*display: none;*/
}
#form-phone {
	display: none;
}
#form-phone-step1 {
	display: none;
}
#form-phone-step2 {
	display: none;
}
#form-phone h1 {
	margin: 34px auto 25px 0;
}
#form-phone-step1 h1 {
	margin: -16px auto 20px 0;
}
#form-phone-step1 input[type="submit"] {
	margin-top: 30px;
	clear: both;
}
.form-code {
	float: left;
}
form h1 {
	font-size: 15px;
	font-weight: normal;
}
#send-again {
	width: 107px;
	height: 30px;
	border-radius: 15px;
	border:1px solid white;
	float: right;
	margin: 37px 11px auto auto;
	text-align: center;
	line-height: 30px;
}
#send-again:hover,a {
	cursor: pointer;
}
.form-code {
	width: 50%;
}
.error {
	color: #fe575c;
	position: relative;
	float: right;
	display: none;
}
.header-link ul {
	padding: 0;
	height: 50px;
	margin-top: 15px;
}
.block {
	width: 100%;
	overflow: hidden;
}
.block1 {
    background-image: url(../img/hero_bg.jpg); 
    background-image: -webkit-image-set(url(../img/hero_bg.jpg) 1x,url(../img/hero_bg@2x.jpg) 2x);
    background-image: -moz-image-set(url(../img/hero_bg.jpg) 1x,url(../img/hero_bg@2x.jpg) 2x);
    background-image: -o-image-set(url(../img/hero_bg.jpg) 1x,url(../img/hero_bg@2x.jpg) 2x);
    background-image: -ms-image-set(url(../img/hero_bg.jpg) 1x,url(../img/hero_bg@2x.jpg) 2x);
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/hero_bg.jpg', sizingMethod='scale');
}
.main-block {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
}
.header {
	height: 50px;
	width: 100%;
	background: rgba(44,62,80,0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E52C3E50,endColorstr=#E52C3E50);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
}
.home-logo {
	float: left;
	background-image: url(../img/icon_logo.png); 
    background-image: -webkit-image-set(url(../img/icon_logo.png) 1x,url(../img/icon_logo@2x.png) 2x);
    background-image: -moz-image-set(url(../img/icon_logo.png) 1x,url(../img/icon_logo@2x.png) 2x);
    background-image: -o-image-set(url(../img/icon_logo.png) 1x,url(../img/icon_logo@2x.png) 2x);
    background-image: -ms-image-set(url(../img/icon_logo.png) 1x,url(../img/icon_logo@2x.png) 2x);
	width: 101px;
	background-position: center;
	background-repeat: no-repeat;
	height: 50px;
}
a {
	text-decoration: none;
}
.header-link {
	float: right;
	width: auto;
	height: 50px;
}
.header-link * {
	color: #FFF;
}
.header-link ul li{
	float: left;
	list-style: none;
	margin-right: 25px;
}
.header-link ul li :hover {
	color: #FFF;
	font-weight: bold;
}
.header-button {
    border: 1px solid;
    padding: 3px 11px;
    margin-top: -3px;
    border-radius: 13px;
}
/*---------------------footer-----------------------*/
.footer {
	width: 100%;
	background-color: #2C3E50;
	overflow: hidden;
}
.copyright {
	font-size: 14px;
	color: #fff;
	width: 324px;
}
.footer-text {
	margin: 0;
	padding:0;
}
.footer-link ul {
	margin:0;
}
.footer-link li {
	float: left;
	margin-right: 25px;
	list-style: none;
}
.footer-link li a {
	font-size: 14px;
	color: #ECF0F1;
}
.footer-link li a:hover {
	color: #fff;
	font-weight: bold;
}
.record p{
	font-size: 13px;
	color: #95a5a6;
}
@media screen and (max-width: 739px) and (min-width: 1px) {
/*----------block1------------------*/
#form-phone h1 {
	margin: 34px auto 5px 0;
}
#form-phone-step1 h1 {
	margin: 23px auto -4px 0;
}
.login {
	margin: 74px auto auto 0;
}
.login-left {
	font-size: 36px;
	color: #FFFFFF;
	width: 100%;
	margin-bottom: 12px;
}
.login-right {
	line-height: 37px;
	width: 100%;
	height: auto;
}
form {
	width: 100%;
	font-size: 13px;
	color: #fff;
}
input[type="text"],input[type="password"] {
	padding-left: 5px;
	width: 100%;
	height: 30px;
	margin:7px auto 7px 0;
	color: black;
}
input[type="submit"] {
	margin-top: 24px;
	width: 160px;
	height: 50px;
	border-radius: 25px;
	border:0;
	font-size: 23px;
	float: left;
}
.find-password {
	float: right;
	margin-top: 35px;
}
.find-password:hover {
	font-weight: bold;
}
.block1 {
	height: 550px;
}
.main-block {
	width:293px; 
}
.header-link * {
	font-size: 13px;
}
.header-button {
	display: none;
}
#min-margin {
	margin-right: 0;
}
/*-------------footer----------------*/
.footer .main-block {
	margin-top: 26px;
}
.footer {
	height: 220px;
}
.footer-link {
	overflow: hidden;
	margin-top: 10px;
}
.footer-link ul {
	padding:0;
}
.record {
	margin-top: 52px;
}
.button-text {
	cursor: pointer;
}
.login-button-div {
	cursor: pointer;
}
}
@media screen and (max-width: 949px) and (min-width: 740px) {
/*----------block1------------------*/
.login {
	width: 630px;
	margin: 165px auto auto auto;
}
.login-left {
	padding-top: 16px;
	font-size: 36px;
	color: #FFFFFF;
	width: 252px;
	height: 266px;
	float: left;
	border-right: 1px solid rgba(255,255,255,0.2);
}
.login-right {
	width: 325px;
	height: 297px;
	vertical-align: middle;
	margin-left: 50px;
	float: left;
}
form {
	width: 100%;
	margin-top:16px;
	font-size: 13px;
	color: #fff;
}
input[type="text"],input[type="password"] {
	padding-left: 5px;
	width: 100%;
	height: 35px;
	margin:13px auto 13px 0;
	color: black;
}
input[type="submit"] {
	margin-top: 17px;
	width: 160px;
	height: 50px;
	border-radius: 25px;
	border:0;
	float: left;
	font-size: 23px;
}
.find-password {
	float: right;
	margin-top: 29px;
}
.find-password:hover {
	font-weight: bold;
}
.block1 {
	height: 550px;
}
.main-block {
	width:738px; 
}
.header-link * {
	font-size: 13px;
}
/*---------------block1------------------*/


/*-------------footer----------------*/
.footer .main-block {
	margin-top: 35px;
}
.footer {
	height: 225px;
}
.footer-link {
	float: right;
}
.record {
	clear: both;
}
.copyright {
	float: left;
}
.button-text {
	cursor: pointer;
}
.login-button-div {
	cursor: pointer;
}
}
@media screen and (min-width: 950px) {
/*----------block1------------------*/
.login {
	width: 725px;
	margin: 165px auto auto auto;
}
.login-left {
	vertical-align: middle;
	font-size: 45px;
	color: #FFFFFF;
	width: 315px;
	height: 279px;
	float: left;
	border-right: 1px solid rgba(255,255,255,0.2);
}
.login-right {
	width: 325px;
	height: 297px;
	vertical-align: middle;
	margin-left: 80px;
	float: left;
}
form {
	width: 100%;
	margin-top:16px;
	font-size: 14px;
	color: #fff;
}
input[type="text"],input[type="password"] {
	padding-left: 5px;
	width: 100%;
	height: 40px;
	margin:6px auto 3px 0;
	color: black;
}
input[type="submit"] {
	margin-top: 30px;
	width: 160px;
	height: 50px;
	border-radius: 25px;
	border:0;
	float: left;
	font-size: 23px;
}
.find-password {
	float: right;
	margin-top: 43px;
}
.find-password:hover {
	font-weight: bold;
}
.block1 {
	height: 550px;
}
.main-block {
	width:945px; 
}
.header-link * {
	font-size: 14px;
}
/*---------------block1------------------*/

/*-------------footer----------------*/
.footer .main-block {
	margin-top: 40px;
}
.footer {
	height: 240px;
}
.footer-link {
	float: left;
	margin-left: 288px;
}
.record {
	clear: both;
}
.copyright {
	float: left;
}
.button-text {
	cursor: pointer;
}
.login-button-div {
	cursor: pointer;
}
}

