@charset "utf-8";
*{margin:0;padding:0;}
body{font-family:STHeitiSC-Light,华文细黑,Microsoft YaHei,微软雅黑,\5FAE\8F6F\96C5\9ED1;font-size:12px;font-weight:200;_background-image:url(about:blank);_background-attachment:fixed;color:#a8a8a8}
body {background:#f7f7f7}
html {_overflow-x:hidden}
:focus{outline:0;}
img{border:0;}
ul,li{list-style:none;}
div,ul,li,dl,dt,dd,table,td,input{font-size:12px;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:12px;}
i,em {font-style:normal;}
a{color:#272727;text-decoration:none;}
a:hover{color:#f20e0e;}
a:active{star:expression(this.onFocus=this.blur());}
::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder {color:#999;font-family:lucida grande,'Helvetica Neue',Helvetica,华文细黑,STHeitiSC-Light,微软雅黑,Microsoft YaHei,\5FAE\8F6F\96C5\9ED1;}
input,textarea {font-family:lucida grande,'Helvetica Neue',Helvetica,华文细黑,STHeitiSC-Light,微软雅黑,Microsoft YaHei,\5FAE\8F6F\96C5\9ED1;}
.clear {clear:both;zoom:1;}
.clear:after,.clear:before {clear:both;display:block;content:"";height:0;width:100%;font-size:0;visibility:hidden;zoom:1;}
.fl {display:inline;float:left}
.fr {display:inline;float:right}
.box {width:1180px;margin:0 auto;clear:both;position:relative}
.br5 {-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.br2 {-moz-border-radius:2px;-o-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}

.mainbanner_wrap {height:720px;background-color:#000000}
.mainbanner {position:relative;height:720px;}
.mainbanner_slide {position:absolute;left:0;top:0;}
.main_header {position:relative;z-index:1}
.main_header_logo {padding:38px 0 0 50px;float:left }
.main_header_link {padding:38px 50px 0 0;font-size:13px;float:right }
.main_header_link a {color:#fff;font-size:13px;padding-left:50px;}
.main_header_link a:hover {color:#d8d8d8;}


.main_banner_txt {color:#fff;font-size:42px;font-weight:900;line-height:44px;margin: auto auto 40px auto;padding-top:240px;text-align:center;text-shadow:2px 2px 4px rgba(0,0,0,0.6);position:relative;z-index:1}
.main_banner_form {width:620px;height:180px;background-color:rgba(13,9,5);background-color:rgba(0,0,0,.6);margin:0 auto;padding:20px;position:relative;z-index:1}
.main_banner_form_hd {font-size:16px;font-weight:300;color:#fff;margin:0 0 15px 0;overflow:hidden}
.main_banner_form_bd {width:620px;margin:0 auto;overflow:hidden}

.main_banner_form_bd input.inp {height:42px;background:#fff;line-height:44px\9;text-indent:15px;font-size:14px;color:#aeaeae;border:none;margin-bottom:8px;}
.main_banner_form_bd input.inp:focus {color:#5C5C5C;}
.main_banner_form_bd input.inp_1 {width:100%;}
.main_banner_form_bd input.inp_2 {width:305px}
.main_banner_form_bd input.inp_3 {width:305px}
.main_banner_form_bd input.inp_4 {width:305px}
.main_banner_form_bd input.btn {width:305px;height:44px;background-color:#ff5a60;font-size:16px;color:#fff;border:none;cursor:pointer}
.main_banner_form_bd input.btn:hover {;background-color:#EF8587;}
.mainService {padding-top:20px;width:940px;color:#333}
.mainService ul {width:110%}
.mainService li {float:left;width:305px;height:125px;border-right:1px solid #d8d8d8;overflow:hidden}
.mainService li.n2 {padding-left:36px;}
.mainService li.n3 {padding-left:36px;border-right:none}
.mainService li .tit {font-size:16px;height:30px;line-height:30px;background-repeat:no-repeat;background-position:0 0;padding-left:45px;margin-top:15px;}
.mainService li.n1 .tit {background-image:url(../images/n1.png)}
.mainService li.n2 .tit {background-image:url(../images/n2.png)}
.mainService li.n3 .tit {background-image:url(../images/n3.png)}
.mainService li .info {font-size:13px;padding-top:12px;line-height:20px;width:270px;overflow:hidden}
.footer {border-top:1px solid #d8d8d8;width:1100px;align:center;margin-top:20px;padding:20px 20px 80px 20px;font-size:14px;overflow:hidden}

.mainForm {width:310px;height:280px;position:absolute;left:50%;top:50%;margin-left:-155px;margin-top:-140px;}
.mainForm_logo {text-align:center;}
.mainForm_logo img {height:100px;}
.mainForm_body {clear:both;padding-top:10px;}
.mainForm_body input.inp {height:48px;background:#fff;margin-bottom:5px;border:none;color:#a8a8a8;}
.mainForm_body input.inp_1,.mainForm_body input.inp_2 {width:300px;padding-left:10px;}
.mainForm_body input.inp_3 {width:180px;padding-left:10px;} 
.mainForm_body input.btn {clear:both;width:100%;height:48px;background-color:#ff5a60;font-size:16px;color:#fff;border:none;cursor:pointer}
.mainForm_body input.btn:hover {background-color:#EF8587;}
.mainForm_body a.yzmSend {display:block;width:110px;height:48px;line-height:48px;background-color:#ef8587;text-align:center;color:#fff;font-size:14px;}
.mainForm_body a.yzmSend:hover {background-color:#ff5a60;}
.mainForm_ft {clear:both;padding-top:5px;}
.mainForm_ft span.tips {color:#ff5a60;}
.mainForm_ft span.link a {color:#a8a8a8}
.mainForm_tips {font-size:14px;width:120%;}
.mainForm_back {padding-top:10px;}
.mainForm_back a {font-size:14px;color:#ff5a60}
.mainForm_body p.radio {padding-bottom:20px;}
.mainForm_body p.radio input {vertical-align:-3px;}
.box {width:900px;margin:0 auto;clear:both;position:relative}
.br3 {-moz-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.circle {-moz-border-radius:100%;-o-border-radius:100%;-webkit-border-radius:100%;border-radius:100%;}

.header_wrap {height:50px;background-color:#fff}
.header {height:50px;}
.header_logo {padding-top:14px;}
.header_user {padding-top:5px;}
.header_user span.header_user_face {display:block;width:40px;height:40px;-moz-border-radius:100%;-o-border-radius:100%;-webkit-border-radius:100%;border-radius:100%;position:relative;overflow:hidden}
.header_user span.header_user_face img {width:40px;height:40px;}
.header_user span.header_user_mail {margin:12px 0 0 10px;position:relative}
.header_user span.header_user_mail:after {content:"";border-width:6px;border-style:solid;border-color:#d8d8d8 transparent transparent transparent;position:absolute;right:-18px;top:6px;}

.menu_wrap {height:50px;background-color:#565a5c}
.menu {height:50px;}
.menu a {display:inline-block;height:50px;font-size:13px;color:#a8a8a8;line-height:50px;margin-right:50px;}
.menu a.active {height:46px;color:#fff;border-bottom:4px solid #d8d8d8;}

.mainpart {padding-top:28px;}
.mainpart_left {width:230px;overflow:hidden}
.main_choose {width:228px;height:458px;border:1px solid #d8d8d8;}
.main_choose_hd {height:40px;background:#efefef;border-bottom:1px solid #d8d8d8;overflow:hidden}
.main_choose_hd span.tit {line-height:40px;padding-left:20px;}
.main_choose_hd span.btn_reset {padding:8px 17px 0 0;}
.main_choose_hd span.btn_reset a {display:inline-block;width:45px;height:25px;line-height:25px;background-color:#df8587;color:#fff;text-align:center;}
.main_choose_bd {clear:both;padding:18px 0 0 15px;overflow:hidden}
.main_choose_search {background:#fff;border:1px solid #d8d8d8;width:183px;height:30px;padding-left:8px;}
.main_choose_search input.inp {width:148px;height:30px;border:none;background:none;line-height:30px\9;color:#9b9b9b;}
.main_choose_search input.btn {width:34px;height:30px;background:url(../images/icon_search.png) center center no-repeat;border:none;cursor:pointer}
.main_choose_date {padding-top:14px;line-height:32px;width:193px;}
.main_choose_date input.date {width:78px;background:#fff;border:1px solid #d8d8d8;height:30px;line-height:30px\9;color:#9b9b9b;text-align:center}
.main_choose_date span.txt {padding-left:11px;}


.main_choose_nav {margin-top:14px;width:191px;height:30px;border:1px solid #d8d8d8;overflow:hidden}
.main_choose_nav ul {width:110%}
.main_choose_nav li {float:left;width:63px;height:30px;line-height:30px;border-right:1px solid #d8d8d8;text-align:center;overflow:hidden}
.main_choose_nav li a {color:#a8a8a8}
.main_choose_nav li.active {background:#d8d8d8}
.main_choose_nav li.active a {color:#fff}
.main_choose_check {padding-top:14px;width:193px;overflow:hidden}
.main_choose_check a {display:block;height:30px;line-height:30px;text-align:center;margin-bottom:6px;color:#fff;position:relative;}
.main_choose_check a.btn_1 {background-color:#4d8907}
.main_choose_check a.btn_2 {background-color:#5091e2}
.main_choose_check a.btn_3 {background-color:#c5777a}
.main_choose_check a.btn_4 {background-color:#bbbbbb}
.main_choose_check a input[type=checkbox] {position:absolute;left:10px;top:10px;}
.mainpart_right {width:650px;overflow:hidden}
.main_table {width:648px;height:458px;border:1px solid #d8d8d8;overflow:hidden}
.main_table_nav {height:40px;line-height:40px;background:#efefef;border-bottom:1px solid #d8d8d8;overflow:hidden}
.main_table_nav span.link {padding-left:20px;}
.main_table_nav span.link a {color:#a8a8a8}
.main_table_nav span.link a.active {color:#4a4a4a}
.main_table_nav span.link a i {color:#df8587}
.main_table_hd {height:30px;line-height:30px;border-bottom:1px solid #d8d8d8;overflow:hidden}
.main_table_hd span.n1 {width:90px;padding-left:40px;overflow:hidden}
.main_table_hd span.n2 {width:90px;text-align:center;overflow:hidden}
.main_table_hd span.n3 {width:110px;text-align:center;overflow:hidden}
.main_table_hd span.n4 {width:80px;text-align:center;overflow:hidden}
.main_table_hd span.n5 {width:120px;text-align:center;overflow:hidden}
.main_table_hd span.n6 {width:60px;padding-left:52px;overflow:hidden}
.main_table_bd {clear:both;overflow:hidden}
.main_table_bd li {clear:both;color:#4a4a4a;vertical-align:top;height:64px;border-bottom:1px solid #d8d8d8;background:#fff;position:relative;line-height:64px;overflow:hidden}
.main_table_bd li span.n1 {width:116px;padding-left:14px;overflow:hidden}
.main_table_bd li span.n1 input {margin-right:12px;}
.main_table_bd li span.n2 {width:90px;text-align:center;overflow:hidden}
.main_table_bd li span.n3 {width:110px;text-align:center;overflow:hidden}
.main_table_bd li span.n4 {width:80px;text-align:center;overflow:hidden}
.main_table_bd li span.n5 {width:120px;text-align:center;overflow:hidden}
.main_table_bd li span.n6 {width:98px;text-align:right;line-height:35px;overflow:hidden}
.main_table_bd li span.n6 i.status {display:inline-block;width:58px;height:17px;margin-top:8px;}
.main_table_bd li span.n6 i.status_1 {background:url(../images/btn_audit.png) no-repeat;}
.main_table_bd li span.n6 i.status_2 {background:url(../images/btn_unsettled.jpg) no-repeat;}
.main_table_bd li span.n6 i.status_3 {background:url(../images/btn_settled.jpg) no-repeat;}
.main_table_bd li span.n6 i.status_4 {background:url(../images/btn_audit_2.jpg) no-repeat;}

.main_table_bd li span.n6 strong.price {display:block;font-size:24px;font-weight:normal}
.main_table_bd li span.icon {display:inline-block;position:absolute;left:0;top:0;line-height:12px;}
.main_table_bd li span.icon i.txt {color:#ef8587;padding-left:5px;}
.main_table_bd li span.icon i.chat_1 {padding-left:5px;}
.main_table_bd li span.icon i.chat_2 {padding-left:5px;}

.footer {border-top:1px solid #d8d8d8;margin-top:80px;padding:20px 0 80px 0;overflow:hidden}


.main_table_nav i.tit {color:#4a4a4a}
.main_table_nav span.btn {padding:8px 20px 0 0;overflow:hidden}
.main_table_nav span.btn a {display:inline-block;height:24px;line-height:24px;color:#fff;background-color:#ef8587;text-align:center;padding:0 10px;margin-left:10px;}


.main_choose_choose {background:#fff;border:1px solid #d8d8d8;width:191px;height:30px;margin-top:14px;}
.main_choose_choose select {width:100%;border:none;background:none;margin-top:6px;color:#a8a8a8;font-size:12px;padding-left:4px;}
.main_table_2 .main_table_hd span.n1 {width:60px;padding-left:40px;}
.main_table_2 .main_table_hd span.n2 {width:100px;}
.main_table_2 .main_table_hd span.n3 {width:110px;}
.main_table_2 .main_table_hd span.n4 {width:150px;padding-left:30px;}
.main_table_2 .main_table_hd span.n5 {width:70px;}
.main_table_2 .main_table_hd span.n6 {width:50px;padding-left:30px;}
.main_table_2 .main_table_bd li span.n1 {width:86px;padding-left:14px;}
.main_table_2 .main_table_bd li span.n2 {width:100px}
.main_table_2 .main_table_bd li span.n3 {width:110px;}
.main_table_2 .main_table_bd li span.n4 {width:150px;padding-left:30px;}
.main_table_2 .main_table_bd li span.n5 {width:70px;}
.main_table_2 .main_table_bd li span.n6 {width:50px;text-align:left;padding-left:30px;line-height:64px}
.main_table_2 .main_table_bd li span.n6 i.unset {color:#d8d8d8}

.main_table_nav span.pages {padding:13px 20px 0 0;line-height:18px}
.main_table_nav span.pages i.num {margin-right:10px}
.main_table_nav span.pages a {display:inline-block;height:16px;width:21px;border:1px solid #d8d8d8;position:relative;vertical-align:-5px;}
.main_table_nav span.pages a:after {content:"";border-width:5px;border-style:solid;position:absolute;top:3px;}
.main_table_nav span.pages a.prev {border-right:none}
.main_table_nav span.pages a.prev:after {border-color:transparent #d8d8d8 transparent transparent;left:3px;}
.main_table_nav span.pages a.next:after {border-color:transparent transparent transparent  #d8d8d8 ;left:8px;}

.main_table_3 .main_table_bd li span.n4 i {border:1px solid #d8d8d8;padding:0 8px;}
.main_choose_input {background:#fff;border:1px solid #d8d8d8;width:191px;height:30px;margin-top:14px;}
.main_choose_input input {width:100%;height:30px;line-height:30px\9;border:none;background:none;text-indent:8px;color:#a8a8a8}


.main_table_4 .main_table_hd span.n1 {width:110px;padding-left:40px;}
.main_table_4 .main_table_hd span.n2 {width:130px;padding:0 5px}
.main_table_4 .main_table_hd span.n3 {width:100px;}
.main_table_4 .main_table_hd span.n4 {width:100px;}
.main_table_4 .main_table_hd span.n5 {width:90px;}
.main_table_4 .main_table_hd span.n6 {width:60px;padding-left:0;text-align:center}
.main_table_4 .main_table_bd li span.n1 {width:136px;padding-left:14px;}
.main_table_4 .main_table_bd li span.n2 {width:130px;padding:0 5px;line-height:20px;padding-top:12px;}
.main_table_4 .main_table_bd li span.n3 {width:100px;}
.main_table_4 .main_table_bd li span.n4 {width:100px;}
.main_table_4 .main_table_bd li span.n5 {width:90px;}
.main_table_4 .main_table_bd li span.n6 {width:60px;padding-left:0;text-align:center;line-height:64px}


.mainTable {padding-top:12px;}
.mainTable .item {width:748px;border:1px solid #d8d8d8;margin-top:14px;overflow:hidden}
.mainTable .item_hd {height:40px;line-height:40px;background:#efefef;border-bottom:1px solid #d8d8d8;overflow:hidden}
.mainTable .item_hd  span.tit {padding-left:20px;}
.mainTable .item_hd  span.btn  {padding:8px 20px 0 0;overflow:hidden}
.mainTable .item_hd  span.btn a {display:inline-block;height:24px;line-height:24px;color:#fff;background-color:#ef8587;text-align:center;padding:0 20px;margin-left:10px;}
.mainTable .item_form {clear:both;padding:0 5px;overflow:hidden}
.mainTable .item_form li {clear:both;border-bottom:1px solid #d8d8d8;padding:10px 0;overflow:hidden}
.mainTable .item_form li span.tit {width:70px;padding-left:20px;line-height:36px;color:#4a4a4a}
.mainTable .item_form li .con {width:630px;overflow:hidden}
.mainTable .item_form li .con input.inp {width:298px;height:34px;line-height:34px\9;border:1px solid #d8d8d8;background:#fff;text-indent:10px;color:#a8a8a8}
.mainTable .item_form li .con .selectItem {width:298px;height:34px;border:1px solid #d8d8d8;background:#fff;position:relative}
.mainTable .item_form li .con .selectItem  select {width:100%;border:none;background:none;margin-top:6px;color:#a8a8a8;font-size:12px;padding-left:4px;}
.mainTable .item_form li.first .con img {width:60px;height:60px;}
.mainTable .item_form li.first span.tit {line-height:60px;}
.mainTable .item_form li.last {border-bottom:none}
.mainTable .item_form_2 li {border:none}

.mainTable .item_bankSet {clear:both;padding:0 5px;overflow:hidden}
.mainTable .item_bankSet li {clear:both;border-bottom:1px solid #d8d8d8;padding:20px 0;color:#4a4a4a;overflow:hidden}
.mainTable .item_bankSet li:last-child {border-bottom:none}
.mainTable .item_bankSet li span.n1 {width:260px;padding-left:10px;}
.mainTable .item_bankSet li span.n1 input {margin-right:10px;}
.mainTable .item_bankSet li span.n2 {width:350px;padding-left:10px;}
.mainTable .item_bankSet li span.n3 {width:90px;padding-left:10px;}


.mainTable .item_cate_tag {clear:both;padding:0 5px;overflow:hidden}
.mainTable .item_cate_tag li {clear:both;border-bottom:1px solid #d8d8d8;padding:20px 0;overflow:hidden}
.mainTable .item_cate_tag li:last-child {border-bottom:none}
.mainTable .item_cate_tag li span.n1 {line-height:36px;position:relative;padding-left:40px;}
.mainTable .item_cate_tag li span.n1 i.close {display:block;width:11px;height:11px;background:url(../images/icon_close_1.png) no-repeat;position:absolute;left:10px;top:12px;}
.mainTable .item_cate_tag li span.n1 i.close a {display:block;width:11px;height:11px}
.mainTable .item_cate_tag li span.n2 {width:36px;height:36px;margin-right:30px;overflow:hidden}
.mainTable .item_cate_tag li span.n2 img {width:36px;height:36px;}

#darkbg {width:100%;height:100%;background-color:rgb(0,0,0);background-color:rgba(0,0,0,.8);position:fixed;left:0;top:0;bottom:0;right:0;z-index:99}
.pop_creat {width:758px;background:#fff;border:1px solid #d8d8d8;position:fixed;left:50%;top:80px;margin-left:-379px;z-index:999;overflow:hidden}
.pop_creat_hd {height:44px;line-height:44px;background:#f7f7f7;overflow:hidden}
.pop_creat_hd span.tit {padding-left:20px;}
.pop_creat_hd span.close {padding:20px 20px 0 0;}
.pop_creat_hd span.close a {display:block;width:11px;height:11px;background:url(../images/icon_close_2.png) no-repeat}
.pop_creat_ft {height:40px;background:#f7f7f7;overflow:hidden}
.pop_creat_ft a.btn {display:inline-block;height:28px;line-height:28px;color:#fff;background-color:#ef8587;text-align:center;padding:0 25px;margin-left:30px;margin-top:7px;}
.pop_creat_1 .pop_creat_bd {padding:20px 30px;overflow:hidden}
.pop_creat_1 .pop_creat_form {clear:both}
.pop_creat_1 .pop_creat_form li {clear:both;padding:10px 0;overflow:hidden}
.pop_creat_1 .pop_creat_form li span.tit {width:8%;line-height:24px;overflow:hidden}
.pop_creat_1 .pop_creat_form li .con {width:92%;border-bottom:1px solid #d8d8d8;padding-bottom:3px;height:24px;position:relative;overflow:hidden}
.pop_creat_1 .pop_creat_form li .con input.inp {width:100%;border:none;background:none;color:#a8a8a8}
.pop_creat_1 .pop_creat_form li .con i.name {position:absolute;left:0;bottom:2px;display:inline-block;height:24px;}
.pop_creat_1 .pop_creat_form li .con i.name a {display:inline-block;height:24px;line-height:22px;background:#d8d8d8;padding:0 5px;color:#a8a8a8;padding-right:20px;position:relative}
.pop_creat_1 .pop_creat_form li .con i.name a:after {content:"";width:8px;height:8px;background:url(../images/icon_close_3.png) no-repeat;position:absolute;right:5px;top:8px;}
.pop_creat_1 .pop_creat_form li .con_dot {background:url(../images/icon_dot.png) right 5px no-repeat;}
.pop_creat_1 .pop_creat_table {overflow:hidden}
.pop_creat_1 .pop_creat_table_hd {clear:both;padding-bottom:20px;}
.pop_creat_1 .pop_creat_table_hd span.tit {padding-left:12px;}
.main_table_5 {height:auto}
.main_table_5 .main_table_bd li span.n1 {position:relative}
.main_table_5 .main_table_bd li span.n1 i.close {display:inline-block;width:11px;height:11px;background:url(../images/icon_close_1.png) no-repeat;margin-right:10px;}
.main_table_5 .main_table_bd li span.n1 i.close a {display:inline-block;width:11px;height:11px}
.main_table_5 .main_table_bd li span.n4 i {border:1px solid #d8d8d8;padding:0 8px;}
.main_table_5 .main_table_bd li span.n6 {line-height:64px;}
.main_table_5 .main_table_add {clear:both;padding:20px 0;text-align:center;overflow:hidden}
.main_table_5 .main_table_add a {color:#a8a8a8}
.pop_creat_2 {width:518px;height:440px;margin-left:-259px;top:50%;margin-top:-220px;}
.pop_creat_2 .pop_creat_bd {height:355px;}
.pop_creat_2 .pop_creat_form {width:300px;padding:30px 0 0 20px;overflow:hidden}
.pop_creat_2 .pop_creat_form li {clear:both;padding:9px 0;overflow:hidden}
.pop_creat_2 .pop_creat_form li span.tit {width:20%;line-height:24px;overflow:hidden}
.pop_creat_2 .pop_creat_form li .con {width:80%;border-bottom:1px solid #d8d8d8;padding-bottom:3px;height:24px;position:relative;overflow:hidden}
.pop_creat_2 .pop_creat_form li .con input.inp {width:100%;border:none;background:none;color:#a8a8a8}
.pop_creat_2 .pop_creat_form li .con select  {width:100%;border:none;background:none;margin-top:6px;color:#a8a8a8;font-size:12px;padding-left:4px;}
.pop_creat_2 .pop_creat_form li .con_add {background:url(../images/icon_add.png) right 5px no-repeat;}
.pop_creat_2 .pop_creat_form li .con_1 {width:145px;}
.pop_creat_2 .pop_creat_form li .con_2 {width:90px;}
.pop_creat_2 .pop_creat_form li .con_2 input.inp_date {background:url(../images/icon_date.png) left center no-repeat;text-indent:16px}
.pop_creat_2 .pop_creat_form li .con_2 input.inp_address {background:url(../images/icon_address.png) left center no-repeat;text-indent:16px}
.pop_creat_2 .pop_creat_form li .con input.inp_money {font-size:20px;}

.pop_creat_2 .pop_creat_gg {width:165px;height:265px;margin:30px 20px 0 0;border:1px solid #d8d8d8;overflow:hidden}
.pop_creat_3 {height:400px;top:50%;margin-top:-200px;}
.pop_creat_3 .pop_creat_bd {padding:20px 30px;overflow:hidden}
.pop_creat_3 .pop_creat_form {clear:both}
.pop_creat_3 .pop_creat_form li {clear:both;padding:10px 0;overflow:hidden}
.pop_creat_3 .pop_creat_form li span.tit {width:8%;line-height:24px;overflow:hidden}
.pop_creat_3 .pop_creat_form li .con {width:92%;border-bottom:1px solid #d8d8d8;height:24px;position:relative;overflow:hidden}
.pop_creat_3 .pop_creat_form li .con input.inp {width:100%;border:none;background:none;color:#a8a8a8}
.pop_creat_3 .pop_creat_form li .con_dot {background:url(../images/icon_dot.png) right 5px no-repeat;}
.pop_creat_3 .pop_creat_form li  select  {width:100%;border:none;background:none;margin-top:6px;color:#a8a8a8;font-size:12px;padding-left:4px;}

span.btn a:hover,span.btn_reset a:hover,a.btn:hover,.mainTable .item_hd  span.btn a:hover {background-color:#ff5b5f}
