html, body {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    font-size: 13px;
}
h2, h2, h4, p, ul, ol, li {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
a {
    color: #666;
    text-decoration: none;
}

