
body {
    padding-top: 40px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.jumbotron {
    text-align:left;
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #020031;
    background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
    background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
    opacity: .4;
}

.jumbotron .container {
    text-align:left;
    position: relative;
    z-index: 2;
}

.main-content {
    margin-top:20px;
}

.carbonad {
    background-color: #393939;
    border: 2px solid #E8E8E8;
    height: 118px;
    line-height: 1.2;
    width: 305px;
    position: absolute;
    bottom: 20px;
    right: 0;
    margin-top: 0 !important;
    padding: 15px;
    height: auto !important;
    overflow: hidden;
    font-size: 13px !important;
    line-height: 16px !important;
    background: #222 !important;
    background: rgba(0,0,0,.5) !important;
    border: 0 !important;
    border-radius: 4px;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
    display:block;
}

.cover {
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    display:none;
}

.clear {
    clear: both;
}
