.ui-loading-layer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	bottom: 100px;
	background: #fff;
	z-index: 9999;
	min-height: 400px;

}

.ui-loading-icon {
	position: absolute;
	top: 45%;
	left: 45%;
	width: auto;
	height: auto;
	z-index: 101;
	padding: 13px;
	margin: 5px;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	background-color: #FFF;
	border: 2px solid #8EB8D1;
	color: #E2B018;
	width: 50px !important;
	height: 50px !important;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;
	background: url(../../images/loading.gif) !important;
}