.ui-loading-layer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	bottom: 10px;
	background: #fff;
	z-index: 9999;
	min-height: 400px;

}

.ui-loading-icon {
	position: absolute;
	top: 45%;
	left: 45%;
	width: auto;
	height: auto;
	z-index: 101;
	padding: 13px;
	margin: 5px;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	background-color: #FFF;
	border: 2px solid #8EB8D1;
	color: #E2B018;
	width: 50px !important;
	height: 50px !important;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;
	background: url(../../images/loading.gif) !important;
}

/*opacity loading gif*/

.cloud-bx-waiting {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.3);

	/*IE8*/
	background: #000\9;
	filter: alpha(opacity: 30);
}
.cloud-bx-waiting .text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	text-align: center;
	border-radius: 2px;
	color: #ff575b;
}

.cloud-bx-waiting img {
	-webkit-animation-duration: 1.6s;
	-moz-animation-duration: 1.6s;
	-ms-animation-duration: 1.6s;
	-o-animation-duration: 1.6s;
	animation-duration: 1.6s;
}


.ui-bubble-tip {
	background: #000;
	position: absolute;
	padding: 10px;
	border-radius: 3px;
	color: #fff;
	max-width: 240px;
	line-height: 22px;
	text-align: center;
}

.ui-bubble-tip::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	top: -12px;
	margin-left: -3px;
	border-top: 6px solid transparent;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-bottom: 6px solid #000;
}

.ui-bubble-tip.up::after {
	bottom: -12px;
	top: auto;
	margin-left: -3px;
	border-bottom: 6px solid transparent;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-top: 6px solid #000;
}

.ui-bubble-tip.down.right::after {
	top: auto;
	left: auto;
	bottom: 3px;
	right: -12px;
	margin-left: 0;
	border-bottom: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid transparent;
	border-left: 6px solid #000;
}

.ui-bubble-tip.up.right::after {
	bottom: auto;
	left: auto;
	top: 3px;
	right: -12px;
	margin-left: 0;
	border-bottom: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid transparent;
	border-left: 6px solid #000;
}
