.mod-pay-flow {


}
.mod-pay-flow .row {
	height: 50px;
}

.mod-pay-flow .col-md-2 {
	text-align: right;
}


.item-detail {
	width: 720px;
} 

.item-detail .desc {
	white-space: nowrap;
	overflow: hidden;
	max-width: 200px;
	text-overflow: ellipsis;
}
.table-container {
	border-top: 1px solid #ABABAB;
	border: 1px solid #ABABAB;
	border-radius: 3px;
	border-right: none;
	overflow: hidden;
	max-width: 900px;
	margin: 0 auto;
}

.btn-query {
	background: #ff575b !important;
	border: none;
	border-radius: 3px;
	padding: 8px 28px;
	color: #fff;
}



table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
table thead tr th {
	height: 30px;
	background-color: rgba(89, 102, 116, 0.8);
	color: #fff;
	text-align: center;
	border-right: solid 1px #b9b9b9;
}
table tbody tr td {
	padding: 8px;
	height: 30px;
	font-size: 14px;
	color: #929292;
	border-top: 1px solid #EEEEEE;
	border-right: 1px solid #b9b9b9;
}

table tbody tr:first-child td {
	border-top: none;
}

table tbody tr td.col-label {
	background: #596774;
	color: #fff;
	border-right: none;
}

table tbody tr td.note {
	max-width: 120px;
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table tfoot {
	font-weight: border;
	color: #4a4a4a;
}

.table-field table tfoot tr {
	border-top: solid 1px #b9b9b9;
    border-right: solid 1px #b9b9b9;
}

.table-field table tfoot td {
	height: 30px;
}
.table-field table tfoot td.sum {
	text-align: right;
	padding: 0 12px;
}

.pay-no {
	max-width: 224px;
	width: 224px;
}
.success, .failure, .paying {
	background: #5cb85c;
	color: #fff;
	padding: 3px 8px;
	border-radius: 3px;
	font-size: 12px;
}

.failure {
	background: red;
}

.paying {
	background: #f0ad4e;
}
