.mod-pay-flow {


}
.mod-pay-flow .row {
	height: 50px;
}

.mod-pay-flow .col-md-2 {
	text-align: right;
}


.item-detail {
	width: 720px;
} 

.item-detail .desc {
	white-space: nowrap;
	overflow: hidden;
	max-width: 200px;
	text-overflow: ellipsis;
}
.table-container {
	border-top: 1px solid #ABABAB;
	border: 1px solid #ABABAB;
	border-radius: 3px;
	border-right: none;
	overflow: hidden;
	margin: 0 auto;
}

.btn-query {
	background: #ff575b !important;
	border: none;
	border-radius: 3px;
	padding: 8px 28px;
	color: #fff;
}

.btn-preview {
	cursor: pointer;
}
.page-bar {
	cursor: pointer;
}


.mod-pay-flow table,
.cloud-bx-dialog table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
.mod-pay-flow table thead tr th,
.cloud-bx-dialog table thead tr td {
	height: 30px;
	background-color: rgba(89, 102, 116, 0.8);
	color: #fff;
	text-align: center;
	border-right: solid 1px #b9b9b9;
}
.mod-pay-flow table tbody tr td,
.cloud-bx-dialog table tbody tr td {
	padding: 8px;
	height: 30px;
	font-size: 14px;
	color: #929292;
	border-top: 1px solid #EEEEEE;
	border-right: 1px solid #b9b9b9;
}

.mod-pay-flow table tbody tr:first-child td,
.cloud-bx-dialog table tbody tr:first-child td {
	border-top: none;
}

.mod-pay-flow table tbody tr td.col-label,
.cloud-bx-dialog table tbody tr td.col-label {
	background: rgba(89, 102, 116, 0.80);
	color: #fff;
	border-right: none;
}

.mod-pay-flow table tbody tr td.note,
.cloud-bx-dialog table tbody tr td.note {
	max-width: 120px;
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mod-pay-flow table tfoot,
.cloud-bx-dialog table tfoot {
	font-weight: border;
	color: #4a4a4a;
}

.table-field table tfoot tr,
.cloud-bx-dialogtable tfoot tr {
	border-top: solid 1px #b9b9b9;
    border-right: solid 1px #b9b9b9;
}

.table-field table tfoot td,
.cloud-bx-dialogtable tfoot td {
	height: 30px;
}
.table-field table tfoot td.sum,
.cloud-bx-dialogtable tfoot td.sum {
	text-align: right;
	padding: 0 12px;
}

.pay-no {
	max-width: 224px;
	width: 224px;
}
.success, .failure, .paying {
	background: #5cb85c;
	color: #fff;
	padding: 3px 8px;
	border-radius: 3px;
	font-size: 12px;
}

.failure {
	background: red;
}

.paying {
	background: #f0ad4e;
}

/*reset  datepicker*/
/*prev next*/

.datetimepicker .prev,
.datetimepicker .next {
	position: relative;
}
.datetimepicker .prev:before,
.datetimepicker .next:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    line-height: 30px;
    color: #929292;
}
.datetimepicker .next:before {
	content: "";
}

.datetimepicker-days table {
	width: 236px;
}

.datetimepicker-days table td,
.datetimepicker-days table th {
	text-align: center !important;
	cursor: pointer !important;
}

.datetimepicker table tr td.day {
	color: #929292 !important;
	background: transparent !important;
	text-shadow: none !important;
}

.datetimepicker-days table tr td.day.active {
	background: transparent !important;
	color: #ff575b !important;
}

.datetimepicker-days table tr td.day:hover,
.datetimepicker-days table tr td.day.active:hover {
	background: #ff575b !important;
	color: #fff !important;
}

