.login_content, .pass_content, .first_content{
    width: 350px;
    height: auto;
    margin: auto;
    position: relative;
}
.form-line {
    position: relative;
}
.login_content {
    top: 140px;
}
.first_content {
    top:95px;
}
img ,button{
    outline: none;
}
.modal-header {
    position: absolute;
    right: 0;
    padding: 0;
}
.modal-header-left {
    position: absolute;
    left: 0;
    padding: 0;
}
.first-text {
    margin-bottom: 45px;
    font-size: 16px;
    text-align: center;
    color: #4A4A4A;
}
.modal-dialog, .modal-content {
    width: 100%;
    margin:0;
    height: 100%;
}
.modal-body {
    min-width: 350px;
    min-height: 380px;
    position:relative;
    top: 50%;
    margin-top: -190px;
}

#login input, #first-email input, #first-phone input,#first-login input, #password input ,#phone-code input, #email-code input, #phone-after input, #email-after input{
    border: none;
    font-size: 16px;
    padding: 0;
    margin:0;
    width: 253px;
    outline:none;
}
#password input, #first-login input, #phone-code input, #email-code input {
    width: 247px;
}
#phone-after .full-input, #email-after .full-input {
    width: 287px;
}
.input-line {
    padding-bottom: 3px;
    float: right;
    border-bottom: 1px #B9B9B9 solid;
    width: 287px;
}
.action-icon {
    cursor: pointer;
    outline: none;
    position: relative;
}
.bottom-line a {
    color: red;
    font-size: 13px;
    text-decoration: underline;
}
.bottom-line {
    width: 55px;
    margin: 60px auto auto auto;
}
.next-step {
    text-align: center;
    margin-top: 45px;
}
.forget-pass{
    width: 70px;
}
.user-pic {
    width: 90px;
    margin: 0 auto;
    border-radius: 200px;
}
.user-name {
    font-size: 16px;
    text-align: center;
    margin: 17px auto 70px;
}
.relative-10 {
    position: relative;
    left: 10px;
}
.phone-text {
    color: red;
    font-size: 15px;
}
.text {
    font-size: 15px;
    text-align: center;
}
.timer {
    color: #ff575b;
    font-size: 12px;
    border: 1px #FF575B solid;
    border-radius: 2px;
    padding: 4px 2px 4px 3px;
    position: relative;
    top: -3px;
    float: right;
    background-color:transparent;
}
.time-disable {
    background-color: #ff575b;
    color: white;
    border: none;
    border-bottom: 2px #D33E42 solid;
    width: 70px;
    text-align: center;
}
.time-disable:hover {
    border-bottom: 2px #ff575b solid;
}
.error-login {
    position: absolute;
    height: 35px;
    font-size: 15px;
    color: white;
    left: -18px;
    top: -5px;
    border-radius: 4px;
}
.error-login-line {
    position: relative;
    left: -100%;
}
.error-text {
    background-color: #FF575B;
    font-size: 15px;
    text-align: center;
    color: white;
    padding: 0;
    float: left;
    padding: 7px;
    border-radius: 3px;
}
.error-right {
    width: 0;
    float: right;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 8px solid #FF575B;
    position: relative;
    top: 14px;
    border-bottom: 4px solid transparent;
}

