/* button components */
.ui-button {
	display: inline-block;
	width: 130px;
	height: 45px;
	background: #ff575b;
	border-radius: 6px;
	color: #fff;
	text-align: center;
	line-height: 45px;
	font-size: 14px;
	border-bottom: 2px solid #D33E42;
	text-decoration: none;
}
.ui-button img {
	height: 21px;
    margin-right: 9px;
}
.ui-button:hover {
	border-bottom: 2px solid #ff575b;
}
/* field-table components */

.field-table {
	font-size: 14px;
	/*overflow: hidden;*/
	border-radius: 3px;
    padding: 32px 45px;
    padding-top: 0;
    border: 1px solid #fff;
}

.field-table .line,
.field-group .line {
	border-top: 1px solid #f2f6fa;
	position: relative;
	top: -1px;
}
.field-table:hover .line,
.field-group:hover .line {
	visibility: hidden;
}
.field-table .field-table-title {
	color: #4a4a4a;
	padding-left: 20%;
	font-size: 14px;
	margin: 16px 0;
	position: relative;
	line-height: 24px;
	height: 24px;
}

.field-table .field-table-content {
	width: 80%;
	font-size: 14px;
    border: 1px solid #ABABAB;
    border-right: none;
    border-bottom: none;
    border-radius: 3px;
    overflow: hidden;
}

.field-table .field-table-content table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table;
	background-color: transparent;
	text-align: center;
}
.field-table .field-table-content table thead th {
	background: rgba(89, 102, 116, 0.80);
    color: #FFFFFF;
    height: 30px;
    text-align: center;
}

.field-table .field-table-content table td {
	height: 30px;
	/*vertical-align: middle;*/
}
.field-table .field-table-content table td, th {
    border-right: 1px solid #b9b9b9;
	border-bottom: 1px solid #b9b9b9
}

.field-group {
	font-size: 14px;
	/*overflow: hidden;*/
	border-radius: 3px;
    padding: 32px 45px;
    padding-top: 0;
    border: 1px solid #fff;
}
.field-group .field-group-title {
    padding: 10px 20%;
}

.field-group .field-group-title .field-input {
    width: 160px;
    line-height: 27px;
}
.field-group .field-checkbox {
	padding-left: 20px;
}
.field-group .field-select {
	width: 90px;
	border: none;
	position: relative;
}
.field-group .field-select select {
	display: none;
}
.field-group .field-select input, .field-group .field-select .text {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #d5d5d5;
	border-radius: 2px;
	outline: none;
	padding: 0 8px;
	font-size: 14px;
	cursor: default;
	color: #4a4a4a;
}
.field-group .field-select .text {
	line-height: 32px;
}
.field-group .field-select input:focus, .field-group .field-select .text.focus {
	border: 1px solid #fe575c !important;
}
.font-placeholder {
	color: #b9b9b9 !important;
}
.field-group .field-select .icon {
    float: right;
}
.field-group .field-select .text {
    display: inline-block;
}
.field-group .field-select .option-list {
	padding: 10px 0;
	margin: 0;
	position: absolute;
	outline: 0;
	width: 100%;
	top: 100%;
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
	background: #fff;
	text-shadow: none;
	text-align: left;
	box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
	border: 1px solid rgba(34,36,38,.15);
	border-radius: .28571429rem;
	-webkit-transition: opacity .1s ease;
	transition: opacity .1s ease;
	z-index: 11;
	will-change: transform,opacity;
}
.field-group .field-select img {
	position: absolute;
	right: 8px;
	top: 11px;
	width: 8px;
}
.field-group .field-select .option-list .item {
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	color: #929292;
	cursor: default;
	font-size: 14px;
}
.field-group .field-select .option-list .item:hover {
	background: #ff575b;
	color: #fff !important;
}
.field-group .field-select .option-list .item.active {
	color: #ff575b;
}
.field-table .field-table-label,
.field-group .field-group-label {
    text-align: left;
    width: 20%;
    color: #b9b9b9;
    font-size: 14px;
}

.field-group .field-group-rows {
    width: 80%;
}
.field-group .field-group-rows .field-options {
    margin-bottom: 10px;
}
.field-group .field-group-rows .btn-trash {
    width: 24px;
    height: 24px;
    background: url("/static/img/mod/template/24/btn-trash.png") no-repeat center center;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}
.field-group .field-group-rows .btn-trash:hover {
	background-image: url("/static/img/mod/template/24/btn-trash.dark.png");
}

.field-group .field-group-footer {
    position: relative;
    height: 42px;
}

.field-group .field-group-footer .buttons {
    padding: 12px 20px;
    float: right;
    height: 24px;
    white-space: nowrap;

}

.field-group .field-group-footer .buttons .button {
	cursor: default;
    padding-left: 28px;
    height: 24px;
    width: auto;
    white-space: nowrap;
    font-size: 14px;
    line-height: 24px;
    margin-left: 14px;
    background: url("/static/img/mod/template/24/btn-add.png") no-repeat 0 center;
}
.field-group .field-group-footer .buttons .button:hover {
	color: #273e52;
}

.field-group .field-group-footer .buttons .btn-save {
    background-image: url("/static/img/mod/template/24/btn-save.png");
}
.field-group .field-group-footer .buttons .btn-cancel {
    background-image: url("/static/img/mod/template/24/btn-cancel.png");
}

.field-group .field-group-footer .buttons .button.btn-add:hover {
	background-image: url("/static/img/mod/template/24/btn-add.dark.png");
}

.field-group .field-group-footer .buttons .button.btn-save:hover {
	background-image: url("/static/img/mod/template/24/btn-save.dark.png");
}

.field-group .field-group-footer .buttons .button.btn-cancel:hover {
	background-image: url("/static/img/mod/template/24/btn-cancel.dark.png");
}

.field-radio-options {

}
.field-radio-option {
	width: 280px;
	display: table;
	margin-top: 20px;
}
.field-radio-options .field-input {
	display: table-cell;
}
.field-input .loading {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.6);
	width: 100%;
	height: 100%;
	padding-right: 14px;
	text-align: center;
	line-height: 200%;
}
.field-input .loading.show {
	display: block;
}
.field-radio-options .btn-add-input {
	display: table-cell;
	height: 36px;
	width: 36px;
	background: url("/static/img/mod/template/24/btn-add-input.png") no-repeat center center;
}
.field-radio-options .btn-add-input:hover {
	background-image: url("/static/img/mod/template/24/btn-add-input.dark.png");
}
.field-radio-options .btn-add-input.btn-delete-input {
	background-image: url("/static/img/mod/template/24/btn-delete-input.png");
}
.field-radio-options .btn-add-input.btn-delete-input:hover {
	background-image: url("/static/img/mod/template/24/btn-delete-input.dark.png");
}
.field-bank-options .field-checkbox {
	padding-left: 0;
	margin-top: 20px;
}
.fields {
	display: table;
	padding: 30px;
	background: #f2f6fa;
	width: 100%;
}
.fields .field-name {
	padding: 0;
	width: 300px;
}
.table-layout {
    display: table;
    font-size: 0;
    width: 100%;
}

.table-cell {
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;
}

.field-input  {
	margin: 0;
	padding: 0px;
	border: rgba(89, 102, 116, 0.50);
	border-radius: 2px !important;
}

.field-input input {
	padding: 5px 4px 6px 8px;
	width: 100%;
	display: block !important;
	color: #4a4a4a;
	border-radius: 2px !important;
}

.field-select {
	width: 100%;
	border: 1px solid rgb(213, 213, 213);
	background: #fff;
	border-radius: 2px !important;
	height: 34px;
} 
.field-select select {
	display: block;
	width: 100%;
	border: none;
	height: 100%;
}

.field-checkbox {
	position: relative;
	height: 18px;
	vertical-align: middle;
}
.field-checkbox input[type="checkbox"] {
	visibility: hidden;
}

.field-checkbox label {
	padding-left: 6px;
	height: 18px;
	white-space: nowrap;
	line-height: 18px;
	margin: 0;
	display: inline-block;
}
.field-checkbox .icon {
	height: 18px;
	width: 18px;
	display: inline-block;
	float: left;
	border-radius: 2px;
	background-color: #F2F6FA;
	border: 1px solid #D3D9DF;
}
.field-checkbox.white .icon {
	background-color: #fff;
	border: 1px solid #D3D9DF;
}
 
.field-checkbox.checked.disabled .icon,
.field-radio.checked.disabled .icon {
	opacity: 0.5;
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5; 
}

.field-checkbox.checked .icon {
	border: 1px solid #d33e42;
	background: #ff575b url("/static/img/mod/template/icon/yes-checkbox.png") center center no-repeat;
}

.field-radio {
	position: relative;
	height: 18px;
	vertical-align: middle;
}
.field-radio input[type="radio"] {
	visibility: hidden;
}
.field-radio label {
	padding-left: 6px;
	height: 18px;
	white-space: nowrap;
	line-height: 18px;
	margin: 0;

}
.field-radio .icon {
	float: left;
	background-color: #F2F6FA;
	border: 1px solid #D3D9DF;
	height: 18px;
	width: 18px;
	border-radius: 50%;
}
.field-radio.checked .icon {
	background-color: #ff575b;
	border: 1px solid #d33e42;
}
/* end field-compoents */
