.mod-add-report {
	width: 900px;
	margin: 0 auto;
	height: auto;
	padding: 0;
	font-family: STHeitiSC-Light;
}

.mod-add-report .page-content-area {
	padding-bottom: 100px;
}
 
.mod-add-report .report .report-header {
	height: 60px;
	background: url("/static/img/mod/template/bg-template-header.png") repeat-x;
	border-radius: 3px 3px 0 0;
	position: relative;
	padding-left: 32px;
	width: 900px;
	z-index: 999;
	font-size: 18px;
	color: #ffffff;
	line-height: 60px;
}

.mod-add-report .report {
	margin-top: 30px;
	background-color: #f8fafc;
}

.mod-add-report .report .report-body {
	padding: 30px;
    margin-bottom: -20px;
}

.mod-add-report .report .block-row {
	display: table;
	padding: 30px 65px;
	background: #fff;
	width: 100%;
	border-radius: 2px;
	margin-bottom: 20px;
}
.mod-add-report .report .block-row .fields-box {
	margin-right: -77px;
}
.mod-add-report .report .block-row .fields-box .field-item {
	float: left;
	width: 50%;
	padding-right: 77px;
}
.mod-add-report .report .block-row .fields-box .field-item .field-input {
	width: 100%;
	display: block;
}
.mod-add-report .report .block-row .fields-box .field-item input {
	display: block;
	margin-right: 40px;
}

.mod-add-report .report .block-row .field-label,
.mod-add-report .report .block-row .field-input {
	display: table-cell;
}
.mod-add-report .report .block-row .field-label {
	width: 100px;
	vertical-align: middle;
	padding-right: 20px;
}
.mod-add-report .report .report-title .field-input input {
	width: 100%;
}

.mod-add-report .report .btn-add-add-approvers {
	background: #596774;
}
.mod-add-report .report .btn-add-add-approvers img {
	height: 36px;
	margin-right: 8px;
}
.mod-add-report .report-footer {
	margin: 0 30px;
	padding: 0 65px 30px 166px;
	text-align: right;
	font-size: 0;
	height: 75px;
}

.mod-add-report .report-footer .btn-cancel {
	background: #fff;
	color: #596774;
	border-bottom: none;
	width: 100px;
	height: 45px;
	border-radius: 6px;
	background-color: #ffffff;
	border: 1px solid  #596774;
}

.mod-add-report .report-footer .btn-save {
	width: 100px;
	height: 45px;
	border-radius: 6px;
	background-color: #ffffff;
	border: solid 1px #596774;
	color: #596774;
	margin-right: 10px;
}

.mod-add-report .report-footer .btn-submit {
	width: 100px;
	height: 45px;
	border-radius: 6px;
	background-color: #ff575b;
	border-bottom: solid 3px #e94b4f;
}
.mod-add-report .report-footer .btn-submit:hover {
	background: #e94b4f;	
}

.approvers {
	width: 700px;
	text-align: left;
}

.approvers .search-input {
	display: block;
    margin: 0 50px 0 50px;
}
.approvers .search-input .field-input {
	width: 100%;
	height: 40px;
	position: relative;
}
.approvers .search-input .icon {
	position: absolute;
	left: 20px;
	top: 0;
	width: 24px;
	height: 24px;
}
.approvers .search-input .icon img {
	width: 24px;
	height: 24px;
}
.approvers .search-input .field-input input {
	height: 40px;
	padding-left: 42px;
}
.approvers .search-input .btn-search {
	width: 135px;
	height: 40px;
	margin-left: 10px;
	line-height: 40px;
	float: right;
}

.approvers ul {
	width: 100%;
	height: 342px;
    margin: 0;
	margin-top: 15px;
    padding: 20px 75px;
    padding-right: 0;
	overflow-x: auto;
	border-radius: 2px;
	background-color: rgba(242, 246, 250, 0.2);
	border: solid 1px #f2f6fa;
	position: relative;
}

.approvers ul li {
	float: left;
	display: table;
	height: 70px;
	width: 235px;
	margin:0 55px 10px 0;
	border-radius: 2px;
}

.approvers ul .empty-result {
	left: 50%;
	top: 50%;
	position: absolute;
	float: none;
	margin-top: -40px;
    margin-left: -58px;
	text-align: center;
}
.approvers ul .empty-result p {
	font-size: 14px;
	letter-spacing: 0.6px;
	color: #929292;
	margin-top: 25px;
}

.approvers ul .empty-result img {
	width: 100px;
	height: auto;
}
.approvers ul li img {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
    margin: 10px 10px 0 15px;
}

.approvers ul li img, 
.approvers ul li .info {
	display: table-cell;
	vertical-align: middle;
}

.approvers ul li .info {
	font-size: 14px;
	color: #4a4a4a;
	width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.approvers ul li .info p {
	margin: 0;
}
.approvers ul li .info .role {
	font-size: 14px;
	color: #929292;
}

.approvers ul li .info .role span {
	background: yellow;
	color: gray;
}

.approvers ul li:hover {
	background: #465461;
}
.approvers ul li:hover .info .name,
.approvers ul li:hover .info .role {
	color: #fff;
}
.approvers ul li.selected {
	background: transparent;
	border: 1px solid #596774;
}

.approvers.selected-members {
	width: auto;
	height: auto;
	background: transparent;
}

.approvers.selected-members ul {
	height: auto;
	overflow: auto;
	padding: 0;
	background: transparent;
	border: none;
	margin-top: 0;
}

.approvers.selected-members ul li {
	width: 170px;
	height: 50px;
	margin: 5px 10px 5px 0;
	float: left;
	white-space: nowrap;
	position: relative;
}

.approvers.selected-members ul li img,
.approvers.selected-members ul li .info {
	float: left;
}

.approvers.selected-members ul li img {
	width: 40px;
	height: 40px;
	margin-top: 5px;
	float: left;
	margin-left: 10px;
}

.approvers.selected-members ul li .info {
	float: left;
	width: 80px;
	overflow: ellipsis;
	overflow: hidden;
	height: 40px;
	margin-top: 5px;
}
.approvers.selected-members ul li .info .name,
.approvers.selected-members ul li .info .role {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.approvers.selected-members ul li .btn-remove {
	position: absolute;
	height: 24px;
	width: 24px;
	top: 13px;
	right: 14px;
	background: url('/static/img/mod/report/24/btn-remove.png') center center;
	background-size: 24px;
	display: none;
}

.approvers.selected-members ul li.btn-append a {
	float: left;
    text-align: left;
    height: 45px;
    width: 140px;
    margin-top: 3px;
}
.approvers.selected-members ul li:hover {
	background-color: #f2f6fa;
}

.approvers.selected-members ul li:hover .info .name {
	color: #4a4a4a;

}
.approvers.selected-members ul li:hover .info .role {
	color: #929292;
}

.approvers.selected-members ul li:hover .info .role {
	color: #929292;
}
.approvers.selected-members ul li:hover .btn-remove {
	display: inline-block;
}

.approvers.selected-members ul li .btn-remove:hover {
	background-image: url('/static/img/mod/report/24/btn-remove.dark.png');
}

.approvers.selected-members ul li.btn-append:hover {
	background: transparent;
}

.approvers.available-members ul li.selected:hover .info .name {
	color: #4a4a4a;
}

.approvers.available-members ul li.selected:hover .info .role {
	color: #929292;
}

/*start*/
.moni-table {
	font-size: 0;
	width: 600px;
}
.moni-table .t-head .col {
	height: 40px;
	line-height: 40px;
}
.moni-table .t-head .t-row {
	border: none;
}
.moni-table .col {
	width: 100px;
	line-height: 30px;
	height: 30px;
	text-align: center;
	font-size: 14px;
	display: inline-block;
}
.moni-table .col.dt {
	width: 150px;
}
.moni-table .t-head {
	background: #7a8590;
	color: #fff;
	border-radius: 2px;
	height: 40px;
}
.moni-table .t-body {
	overflow: auto;
	height: 300px;
}
.moni-table .t-row {
	margin: 25px 40px;
	border-radius: 2px;
	position: relative;
	margin-right: 60px;
	border: 1px solid #fff;
}
.moni-table .t-row .col {
	display: table-cell;
	vertical-align: middle;
}
.moni-table .t-row.selected  {
	border: 1px solid #7a8590;
	color: #929292;
}
.moni-table .t-row.selected:hover {
	background: #fff;
	color: #929292;
}
.moni-table  .t-row:hover {
	background-color: #596774;
	color: #fff;
}
.moni-table .t-row .btn-edit {
	width: 24px;
	height: 24px;
	position: absolute;
	right: -36px;
	top: 50%;
	margin-top: -12px;
}
.moni-table .t-row .btn-edit img {
	width: 24px;
	height: 24px;
}

/*end*/
.consumptions {

}

.consumptions .head {
	text-align: right;
}
.consumptions .head .btn-select {
	height: 24px;
	line-height: 24px;
	display: inline-block;
	text-decoration: none;
	color: #7a8590;
	font-size: 14px;
}
.consumptions .head .btn-select:hover {
	text-decoration: none;
}
.consumptions .head .btn-select img {
	width: 24px;
	height: 24px;
	margin-top: -3px;
}

.consumptions table {
	width: 100%;
	text-align: center;
}
 
.consumptions table thead {
	background: #7a8590;
	color: #fff;
}

.consumptions table td {
	height: 30px;
}
.consumptions table .note {
	max-width: 130px;
}
 
.table-field .table-container {
	border-top: 1px solid #ABABAB;
	border-radius: 3px;
	overflow: hidden;
}

.table-field table {
	width: 100%;
	text-align: center;
}
.table-field table thead tr th {
	height: 30px;
	border-radius: 2px;
	background-color: rgba(89, 102, 116, 0.8);
	color: #fff;
	text-align: center;
	border-right: solid 1px #b9b9b9;
}
.table-field table tbody tr td {
	height: 30px;
	font-size: 14px;
	color: #929292;
	border: solid 1px #b9b9b9;
}

.table-field table tbody tr td.note {
	max-width: 120px;
	width: 120px;
}

.btn-edit-consumption {
	color: #7a8590;
}
.btn-edit-consumption img {
    width: 20px;
    height: 20px;
    margin-top: -2px;
}
.btn-edit-consumption:hover {
	text-decoration: none;
}

table.border-radius-row tr td:first-child { 
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

table.border-radius-row tr td:last-child { 
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.btn-add-bank {
	height: 40px;
	border-radius: 4px;
	background-color: #596774;
	line-height: 40px;
	font-size: 14px;
	color: #ffffff;
	display: block;
	margin: 10px 10px 0 10px;
	text-align: center;
	text-decoration: none;
}
.btn-add-bank:hover {
	background-color: #273e52;
	color: #fff;
	text-decoration: none;
}
.btn-add-bank:active,
.btn-add-bank:focus {
	background-color: #273e52;	
}
.btn-add-bank img {
	width: 36px;
}

.bank-form {
	margin-right: -40px;
	padding: 30px 50px;
	width: 570px;
}
.bank-form .field-item,
.bank-form .field-item-wrap {
	float: left;
	width: 50%;
	text-align: left;
	padding: 0 40px 30px 0;
}

.bank-form .field-item.inline-item {
	width: 50%;
	padding-right: 5px;
}

/* component reset */
.field-label {
	color: #4a4a4a;
}
.field-input {
	height: 40px;
}

.ui-button:hover {
	color: #fff;
	border-bottom: 2px solid #273e52;
}
.ui-button {
	background: #596774;
	border-bottom: 2px solid #273e52;
}

.field-select .option-list-wrap {
	position: relative;
	max-height: 200px;
	overflow: auto;
}
.field-select .option-list {
	max-height: auto;
}
.field-select .option-list {
	margin-top: -6px;
}
.field-select .option-list.option-list-extra {
	overflow: visible;
	max-height: auto !important;
	max-height: none;
	height: auto;
}
.field-select .option-list .line {
	border-bottom: 1px solid #B9B9B9;
	height: 10px;
	text-align: center;
	margin: 10px;
	margin-bottom: 18px;
}
.field-select .option-list .line span {
	font-size: 14px;
	color: #b9b9b9;
	margin-top: -10px;
	display: inline-block;
	background: #fff;
	padding: 10px 23px 0 23px;
}


