.mod-add-report {
	width: 900px;
	margin: 0 auto;
	height: auto;
	padding: 0;
	font-family: STHeitiSC-Light;
}

.mod-add-report .page-content-area {
	padding-bottom: 100px;
}
 
.mod-add-report .report .report-header {
	height: 60px;
	background: url("/static/img/mod/template/bg-template-header.png") repeat-x;
	border-radius: 3px 3px 0 0;
	position: relative;
	padding-left: 32px;
	width: 900px;
	z-index: 999;
	font-size: 18px;
	color: #ffffff;
	line-height: 60px;
}

.mod-add-report .report {
	margin-top: 30px;
	background-color: #f8fafc;
}

.mod-add-report .report .report-body {
	padding: 30px;
    margin-bottom: -20px;
}

.mod-add-report .report .block-row {
	display: table;
	padding: 30px 65px;
	background: #fff;
	width: 100%;
	border-radius: 2px;
	margin-bottom: 20px;
}
.mod-add-report .report .block-row .fields-box {
	margin-right: -77px;
}
.mod-add-report .report .block-row .fields-box .field-item {
	float: left;
	width: 50%;
	padding-right: 77px;
}
.mod-add-report .report .block-row .fields-box .field-item .field-input {
	width: 100%;
	display: block;
}
.mod-add-report .report .block-row .fields-box .field-item input {
	display: block;
	margin-right: 40px;
}

.mod-add-report .report .block-row .field-label,
.mod-add-report .report .block-row .field-input {
	display: table-cell;
}
.mod-add-report .report .block-row .field-label {
	width: 100px;
	vertical-align: middle;
	padding-right: 20px;
}
.mod-add-report .report .report-title .field-input input {
	width: 100%;
}

.mod-add-report .report .btn-add-add-approvers {
	background: #596774;
}
.mod-add-report .report .btn-add-add-approvers img {
	height: 36px;
	margin-right: 8px;
}
.mod-add-report .report-footer {
	margin: 0 30px;
	padding: 0 65px 30px 166px;
	text-align: right;
}

.mod-add-report .report-footer .btn-cancel {
	background: #fff;
	color: #596774;
	border-bottom: none;
	width: 100px;
	height: 45px;
	border-radius: 6px;
	background-color: #ffffff;
	border: solid 0.8px #596774;
	border: solid 0.8px var(--slate-grey);
}

.mod-add-report .report-footer .btn-save {
	width: 100px;
	height: 45px;
	border-radius: 6px;
	background-color: #ffffff;
	border: solid 1px #596774;
	color: #596774;
	margin-right: 10px;
}

.mod-add-report .report-footer .btn-submit {
	width: 100px;
	height: 45px;
	border-radius: 6px;
	background-color: #ff575b;
	border-bottom: solid 3px #e94b4f;
}

.approvers {
	background: #f2f6fa;
	width: 620px;
	text-align: left;
}

.approvers.selected-members {
	width: auto;
	height: auto;
	background: transparent;
}

.approvers.selected-members ul {
	height: auto;
	overflow: auto;
}

.approvers.selected-members ul li {
	width: 170px;
	height: 50px;
	margin: 5px 10px 5px 0;
	float: left;
	white-space: nowrap;
	position: relative;
}

.approvers.selected-members ul li img,
.approvers.selected-members ul li .info {
	float: left;
}

.approvers.selected-members ul li img {
	width: 40px;
	height: 40px;
	margin-top: 5px;
	float: left;
	margin-left: 10px;
}

.approvers.selected-members ul li .info {
	float: left;
	width: 80px;
	overflow: ellipsis;
	overflow: hidden;
	height: 40px;
	margin-top: 5px;
}
.approvers.selected-members ul li .info .name,
.approvers.selected-members ul li .info .role {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.approvers.selected-members ul li .btn-remove {
	position: absolute;
	height: 24px;
	width: 24px;
	top: 13px;
	right: 14px;
	background: url('/static/img/mod/report/24/btn-remove.png') center center;
	background-size: 24px;
	display: none;
}

.approvers.selected-members ul li.btn-append {
}

.approvers.selected-members ul li.btn-append a {
	float: left;
    text-align: left;
    height: 45px;
    width: 100px;
    margin-top: 3px;
}

.approvers.selected-members ul li:hover {
	background-color: #f2f6fa;
}

.approvers.selected-members ul li:hover .info .name {
	color: #4a4a4a;

}
.approvers.selected-members ul li:hover .info .role {
	color: #929292;
}

.approvers.selected-members ul li:hover .info .role {
	color: #929292;
}
.approvers.selected-members ul li:hover .btn-remove {
	display: inline-block;
}

.approvers.selected-members ul li .btn-remove:hover {
	background-image: url('/static/img/mod/report/24/btn-remove.dark.png');
}

.approvers.selected-members ul li.btn-append:hover {
	background: transparent;
}
.approvers .search-input {
	display: table;
	width: 100%;
}
.approvers .search-input .field-input {
	width: 100%;
	height: 40px;
	display: table-cell;
	vertical-align: middle;
	height: 40px;
}
.approvers .search-input .field-input input {
	height: 40px;
}
.approvers .search-input .btn-search {
	width: 135px;
	height: 40px;
	margin-left: 10px;
	line-height: 40px;
	float: right;
}

.approvers ul {
	width: 100%;
	height: 342px;
    margin: 0;
    padding: 0;
	overflow-x: auto;
}

.approvers ul li {
	float: left;
	display: table;
	height: 70px;
	width: 235px;
	margin:0 55px 10px 0;
	border-radius: 2px;
}
.approvers ul li img {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
    margin: 10px 10px 0 15px;
}

.approvers ul li img, 
.approvers ul li .info {
	display: table-cell;
	vertical-align: middle;
}

.approvers ul li .info {
	font-size: 14px;
	color: #4a4a4a;
	width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.approvers ul li .info p {
	margin: 0;
}
.approvers ul li .info .role {
	font-size: 14px;
	color: #929292;
}

.approvers ul li:hover {
	background: #465461
}
.approvers ul li:hover .info .name,
.approvers ul li:hover .info .role {
	color: #fff;
}
.approvers ul li.selected {
	background: green;
}

.consumptions {

}
.consumptions table {
	width: 100%;
	text-align: center;
}
 
.consumptions table thead {
	background: #7a8590;
	color: #fff;
}

.available-consumptions {
	width: 600px;
}
.available-consumptions .fht-tbody {
	overflow: auto;
	height: 200px;
}
.available-consumptions table {
    width: 100%;
    border-spacing: 0;
    text-align: center;
    height: 400px;
    overflow: auto;
}

.available-consumptions th {
	text-align: center;
}

.available-consumptions tr.selected td {
	background: green !important;
}
.available-consumptions table tr:hover td {
	background-color: #596774;
	color: #fff;
	overflow: hidden;
}

.table-field .table-container {
	border-top: 1px solid #ABABAB;
	border-radius: 3px;
	overflow: hidden;
}

.table-field table {
	width: 100%;
	text-align: center;
}
.table-field table thead tr th {
	height: 30px;
	border-radius: 2px;
	background-color: rgba(89, 102, 116, 0.8);
	color: #fff;
	text-align: center;
	border-right: solid 1px #b9b9b9;
}
.table-field table tbody tr td {
	height: 30px;
	font-size: 14px;
	color: #929292;
	border: solid 1px #b9b9b9;

}
.btn-edit-consumption {
	background: none;
	border: 1px solid gray;
}
table.border-radius-row tr td:first-child { 
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

table.border-radius-row tr td:last-child { 
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.btn-add-bank {
	height: 40px;
	border-radius: 4px;
	background-color: #596774;
	line-height: 40px;
	font-size: 14px;
	color: #ffffff;
	display: block;
	margin: 10px 10px 0 10px;
	text-align: center;
	text-decoration: none;
}
.btn-add-bank:hover {
	background-color: #273e52;
	color: #fff;
	text-decoration: none;
}
.btn-add-bank:active,
.btn-add-bank:focus {
	background-color: #273e52;	
}
.btn-add-bank img {
	width: 36px;
}

.bank-form {
	margin-right: -40px;
}
.bank-form .field-item,
.bank-form .field-item-wrap {
	float: left;
	width: 50%;
	text-align: left;
	padding: 0 40px 30px 0;
}

.bank-form .field-item.inline-item {
	width: 50%;
	padding-right: 5px;
}


/* component reset */
.field-label {
	color: #4a4a4a;
}
.field-input {
	height: 40px;
}

.ui-button:hover {
	color: #fff;
	border-bottom: 2px solid #273e52;
}
.ui-button {
	background: #596774;
	border-bottom: 2px solid #273e52;
}

.field-select .option-list-wrap {
	position: relative;
	max-height: 280px;
	overflow: auto;
}
.field-select .option-list {
	max-height: auto;
	overflow: hidden;
}
.field-select .option-list {
	margin-top: -6px;
}
.field-select .option-list.option-list-extra {
	overflow: visible;
	max-height: auto !important;
	max-height: none;
	height: auto;
}
.field-select .option-list .line {
	border-bottom: 1px solid #B9B9B9;
	height: 10px;
	text-align: center;
	margin: 10px;
	margin-bottom: 18px;
}
.field-select .option-list .line span {
	font-size: 14px;
	color: #b9b9b9;
	margin-top: -10px;
	display: inline-block;
	background: #fff;
	padding: 10px 23px 0 23px;
}


