.mod-show-report {
	width: 900px;
	margin: 0 auto;
	height: auto;
	padding: 0;
	font-family: STHeitiSC-Light;
}

.mod-show-report .page-content-area {
	padding-bottom: 100px;
}
 
.mod-show-report .report .report-header {
	height: 60px;
	border-radius: 3px 3px 0 0;
	position: relative;
	padding-left: 32px;
	width: 900px;
	z-index: 999;
	font-size: 18px;
	color: #ffffff;
	line-height: 60px;
}

.report-header img {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0
}
.report-header span {
	position: relative;
	z-index: 1;
}

.mod-show-report .report {
	margin-top: 30px;
	background-color: #f8fafc;
}

.mod-show-report .report .report-body {
	padding: 30px;
    margin-bottom: -20px;
}

.mod-show-report .report .block-row {
	display: table;
	padding: 30px 65px;
	background: #fff;
	width: 100%;
	border-radius: 2px;
	margin-bottom: 20px;
}

.mod-show-report .detail-row .field-input {
	position: relative;
	height: 0;
}
.mod-show-report .detail-row p {
	margin: 0;
}
.mod-show-report .detail-row .btn-detail {
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	height: 20px;
	color: #7a8590;
	text-decoration: none;
}
.mod-show-report .detail-row .btn-detail img {
	width: 24px;
	height: 24px;
	margin-right: 5px;
}

.mod-show-report .report .block-row .fields-box {
	margin-right: -77px;
}
.mod-show-report .report .block-row .fields-box .field-item {
	float: left;
	width: 50%;
	padding-right: 77px;
}
.mod-show-report .report .block-row .fields-box .field-item .field-input {
	width: 100%;
	display: block;
}
.mod-show-report .report .block-row .fields-box .field-item input {
	display: block;
	margin-right: 40px;
}

.mod-show-report .report .block-row .field-label,
.mod-show-report .report .block-row .field-input {
	display: table-cell;
	font-size: 14px;
	color: #4a4a4a;
}
.mod-show-report .report .block-row .field-label {
	width: 100px;
	vertical-align: middle;
	padding-right: 20px;
	font-size: 14px;
	color: #b9b9b9;
}
.mod-show-report .report .report-title .field-input input {
	width: 100%;
}

.mod-show-report .report .btn-add-add-approvers {
	background: #596774;
}
.mod-show-report .report .btn-add-add-approvers img {
	height: 36px;
	margin-right: 8px;
}
.mod-show-report .report-footer {
	margin: 0 30px;
	padding: 0 65px 30px 166px;
	text-align: right;
	font-size: 0;
	height: 75px;
}

.mod-show-report .report-footer .ui-button-border {
	background: #fff;
	color: #596774;
	border-bottom: none;
	width: 100px;
	height: 45px;
	border-radius: 6px;
	background-color: #ffffff;
	border: 1px solid #596774;

}
.mod-show-report .report-footer .ui-button-border.btn-back-list {
	width: 130px;
}
.mod-show-report .report-footer .ui-button-border img {
	width: 36px;
	height: 36px;
}

.mod-show-report .report-footer .btn-pass,
.mod-show-report .report-footer .btn-affirm {
	width: 100px;
	height: 45px;
	border-radius: 6px;
	background-color: #ff575b;
	border-bottom: solid 3px #e94b4f;
}
.mod-show-report .report-footer .btn-pass:focus,
.mod-show-report .report-footer .btn-pass:active,
.mod-show-report .report-footer .btn-affirm:focus,
.mod-show-report .report-footer .btn-affirm:active {
	background: #e94b4f
}
.mod-show-report .report-footer .btn-modify,
.mod-show-report .report-footer .btn-reject,
.mod-show-report .report-footer .btn-drop,
.mod-show-report .report-footer .btn-pass {
	margin-left: 10px;
}

.mod-show-report .report-footer .btn-modify img,
.mod-show-report .report-footer .btn-drop img,
.mod-show-report .report-footer .btn-reject img {
	width: 24px;
	height: 24px;
}

.approvers {
	width: 700px;
	text-align: left;
}

.approvers .search-input {
	display: block;
    margin: 0 50px 0 50px;
}

.approvers .search-input .icon {
	position: absolute;
	left: 20px;
	top: 0;
	width: 24px;
	height: 24px;
}
.approvers .search-input .icon img {
	width: 24px;
	height: 24px;
}

.approvers .search-input .field-input {
	width: 100%;
	height: 40px;
	position: relative;
}

.approvers .search-input .field-input input {
	height: 40px;
	padding-left: 42px;
}

.approvers ul .empty-result {
	left: 50%;
	top: 50%;
	position: absolute;
	float: none;
	margin-top: -40px;
    margin-left: -58px;
	text-align: center;
}
.approvers ul .empty-result p {
	font-size: 14px;
	letter-spacing: 0.6px;
	color: #929292;
	margin-top: 25px;
}

.approvers ul .empty-result img {
	width: 100px;
	height: auto;
}

.approvers ul {
	width: 100%;
	height: 342px;
    margin: 0;
	margin-top: 15px;
    padding: 20px 75px;
    padding-right: 0;
	overflow-x: auto;
	border-radius: 2px;
	background-color: rgba(242, 246, 250, 0.2);
	border: solid 1px #f2f6fa;
}

.approvers ul .line {
    display: block;
    float: none;
    width: auto;
    border-bottom: solid 1px #f2f6fa;
	margin-right: 30px;
	height: 10px;
	clear: both;
	margin-left: -50px;
	margin-bottom: 15px;
}
.approvers ul .line:hover {
	background: transparent !important;
}

.approvers ul.suggstion-memebers {
	border-bottom: 	1px solid 1px #f2f6fa;
	height: auto;
}

.approvers ul li {
	float: left;
	display: table;
	height: 70px;
	width: 235px;
	margin:0 55px 10px 0;
	border-radius: 2px;
	border: 1px solid transparent;
}
.approvers ul li img {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
    margin: 10px 10px 0 15px;
}

.approvers ul li img, 
.approvers ul li .info {
	display: table-cell;
	vertical-align: middle;
}

.approvers ul li .info {
	font-size: 14px;
	color: #929292;
	width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.approvers ul li .info span {
	color: #4a4a4a;
}

.approvers ul li.selected {
	background: transparent;
	border: 1px solid #596774;
}

.approvers.selected-members {
	width: auto;
	height: auto;
	background: transparent;
}

.approvers.selected-members ul {
	height: auto;
	overflow: auto;
	padding: 0;
	background: transparent;
	border: none;
	margin-top: 0;
}

.approvers.selected-members ul li {
	width: 170px;
	height: 50px;
	margin: 5px 10px 5px 0;
	float: left;
	white-space: nowrap;
	position: relative;
}

.approvers.selected-members ul li img,
.approvers.selected-members ul li .info {
	float: left;
}

.approvers.selected-members ul li img {
	width: 40px;
	height: 40px;
	margin-top: 5px;
	float: left;
	margin-left: 10px;
}

.approvers.selected-members ul li .info {
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 40px;
	margin-top: 5px;
	width: 80px;
	max-width: 80px;
}
.approvers.selected-members ul li .info .name,
.approvers.selected-members ul li .info .role {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.approvers.selected-members.submitter ul li .info {
	width: auto;
	max-width: none;
}
.approvers.selected-members ul li .btn-remove {
	position: absolute;
	height: 24px;
	width: 24px;
	top: 13px;
	right: 14px;
	background: url('/static/img/mod/report/24/btn-remove.png') center center;
	background-size: 24px;
	display: none;
}

.approvers.selected-members ul li.btn-append a {
	float: left;
    text-align: left;
    height: 45px;
    width: 100px;
    margin-top: 3px;
}

.table-consumptions tfoot {
	font-weight: border;
	color: #4a4a4a;
}

.table-consumptions tfoot tr {
	border-top: solid 1px #b9b9b9;
    border-right: solid 1px #b9b9b9;
}

.table-consumptions tfoot td {
	height: 30px;
}
.table-consumptions tfoot td.sum {
	text-align: right;
	padding: 0 12px;
}
    

.flow h2 {
	margin: 30px 0 10px 0;
	font-size: 14px;
}

.flow h2.first {
	margin-top: 0;
}
.msg-item {
	margin-bottom: 30px;
}
.msg-item img {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.msg-item .content {
	margin-left: 50px;
}

.msg-item .content .title {
	height: 20px;
    line-height: 20px;
}

.msg-item .content  .title .name {
	float: left;
	font-size: 14px;
	color: #929292;
}

.msg-item .content  .title .date-time {
	float: right;
	font-size: 14px;
	color: #b9b9b9;
}

.msg-item .content .text {
	font-size: 14px;
	color: #4a4a4a;
    line-height: 21px;
}
.btn-search:active,
.btn-search:focus {
	background: #273e52;
}
 
.table-field .table-container {
	border-top: 1px solid #ABABAB;
	border: 1px solid #ABABAB;
    border-radius: 3px;
    border-right: none;
    overflow: hidden;
}

.table-field .table-container .td-bank {
	min-width: 60px;
}

.msg-input {
	display: table;
}
.msg-input .field-input {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	height: 40px;
}
.msg-input .field-input input {
	border-right: none;
	padding: 8px 4px 9px 8px;
}
.msg-input .ui-button {
	width: 100px;
	height: 40px;
	line-height: 40px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -1px;
}
.table-field table {
	width: 100%;
	text-align: center;
}
.table-field table thead tr th {
	height: 30px;
	border-radius: 2px;
	background-color: #7A8590;
	color: #fff;
	text-align: center;
	border-right: solid 1px #b9b9b9;
}
.table-field table tbody tr td {
	height: 30px;
	font-size: 14px;
	color: #929292;
	border-top: 1px solid #EEEEEE;
	border-right: 1px solid #b9b9b9;
}
.table-field table tbody tr td.note {
	max-width: 120px;
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


table.border-radius-row tr td:first-child { 
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

table.border-radius-row tr td:last-child { 
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
 
.suggestion-box {
	font-size: 14px;
	line-height: 2.1;
	color: #273e52;
}

.ui-button .icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	position: relative;
	top: -1px;
}

.btn-reject.ui-button .icon,
.btn-drop.ui-button .icon {
    /*ie 8*/
    background: url('/static/img/mod/report/24/btn-reject@1x.png') no-repeat;

	background-image: -webkit-image-set(url('/static/img/mod/report/24/btn-reject@1x.png') 1x, url('/static/img/mod/report/24/btn-reject@2x.png') 2x);
	background-image: -moz-image-set(url('/static/img/mod/report/24/btn-reject@1x.png') 1x, url('/static/img/mod/report/24/btn-reject@2x.png') 2x);
	background-image: -ms-image-set(url('/static/img/mod/report/24/btn-reject@1x.png') 1x, url('/static/img/mod/report/24/btn-reject@2x.png') 2x);
	background-image: -o-image-set(url('/static/img/mod/report/24/btn-reject@1x.png') 1x, url('/static/img/mod/report/24/btn-reject@2x.png') 2x);
}

.btn-reject.ui-button:active .icon,
.btn-reject.ui-button:focus .icon,
.btn-drop.ui-button:active .icon,
.btn-drop.ui-button:focus .icon {
    /*ie 8*/
    background: url('/static/img/mod/report/24/btn-reject.dark@1x.png') no-repeat;

	background-image: -webkit-image-set(url('/static/img/mod/report/24/btn-reject.dark@1x.png') 1x, url('/static/img/mod/report/24/btn-reject.dark@2x.png') 2x);
	background-image: -moz-image-set(url('/static/img/mod/report/24/btn-reject.dark@1x.png') 1x, url('/static/img/mod/report/24/btn-reject.dark@2x.png') 2x);
	background-image: -ms-image-set(url('/static/img/mod/report/24/btn-reject.dark@1x.png') 1x, url('/static/img/mod/report/24/btn-reject.dark@2x.png') 2x);
	background-image: -o-image-set(url('/static/img/mod/report/24/btn-reject.dark@1x.png') 1x, url('/static/img/mod/report/24/btn-reject.dark@2x.png') 2x);
}


.btn-modify.ui-button .icon {
    /*ie 8*/
    background: url('/static/img/mod/report/24/btn-edit@1x.png') no-repeat;

	background-image: -webkit-image-set(url('/static/img/mod/report/24/btn-edit@1x.png') 1x, url('/static/img/mod/report/24/btn-edit@2x.png') 2x);
	background-image: -moz-image-set(url('/static/img/mod/report/24/btn-edit@1x.png') 1x, url('/static/img/mod/report/24/btn-edit@2x.png') 2x);
	background-image: -ms-image-set(url('/static/img/mod/report/24/btn-edit@1x.png') 1x, url('/static/img/mod/report/24/btn-edit@2x.png') 2x);
	background-image: -o-image-set(url('/static/img/mod/report/24/btn-edit@1x.png') 1x, url('/static/img/mod/report/24/btn-edit@2x.png') 2x);
}

.btn-modify.ui-button:active .icon,
.btn-modify.ui-button:focus .icon {
    /*ie 8*/
    background: url('/static/img/mod/report/24/btn-edit.dark@1x.png') no-repeat;

	background-image: -webkit-image-set(url('/static/img/mod/report/24/btn-edit.dark@1x.png') 1x, url('/static/img/mod/report/24/btn-edit.dark@2x.png') 2x);
	background-image: -moz-image-set(url('/static/img/mod/report/24/btn-edit.dark@1x.png') 1x, url('/static/img/mod/report/24/btn-edit.dark@2x.png') 2x);
	background-image: -ms-image-set(url('/static/img/mod/report/24/btn-edit.dark@1x.png') 1x, url('/static/img/mod/report/24/btn-edit.dark@2x.png') 2x);
	background-image: -o-image-set(url('/static/img/mod/report/24/btn-edit.dark@1x.png') 1x, url('/static/img/mod/report/24/btn-edit.dark@2x.png') 2x);
}

.btn-back-list.ui-button .icon {
    /*ie 8*/
    background: url('/static/img/mod/report/24/btn-edit@1x.png') no-repeat;

	background-image: -webkit-image-set(url('/static/img/mod/report/24/btn-back-list@1x.png') 1x, url('/static/img/mod/report/24/btn-back-list@2x.png') 2x);
	background-image: -moz-image-set(url('/static/img/mod/report/24/btn-back-list@1x.png') 1x, url('/static/img/mod/report/24/btn-back-list@2x.png') 2x);
	background-image: -ms-image-set(url('/static/img/mod/report/24/btn-back-list@1x.png') 1x, url('/static/img/mod/report/24/btn-back-list@2x.png') 2x);
	background-image: -o-image-set(url('/static/img/mod/report/24/btn-back-list@1x.png') 1x, url('/static/img/mod/report/24/btn-back-list@2x.png') 2x);
}

.btn-back-list.ui-button:active .icon,
.btn-back-list.ui-button:focus .icon {
    /*ie 8*/
    background: url('/static/img/mod/report/24/btn-back-list.dark@1x.png') no-repeat;

	background-image: -webkit-image-set(url('/static/img/mod/report/24/btn-back-list.dark@1x.png') 1x, url('/static/img/mod/report/24/btn-back-list.dark@2x.png') 2x);
	background-image: -moz-image-set(url('/static/img/mod/report/24/btn-back-list.dark@1x.png') 1x, url('/static/img/mod/report/24/btn-back-list.dark@2x.png') 2x);
	background-image: -ms-image-set(url('/static/img/mod/report/24/btn-back-list.dark@1x.png') 1x, url('/static/img/mod/report/24/btn-back-list.dark@2x.png') 2x);
	background-image: -o-image-set(url('/static/img/mod/report/24/btn-back-list.dark@1x.png') 1x, url('/static/img/mod/report/24/btn-back-list.dark@2x.png') 2x);
}

.btn-pass.ui-button .icon {
    /*ie 8*/
    background: url('/static/img/mod/report/24/btn-edit@1x.png') no-repeat;

	background-image: -webkit-image-set(url('/static/img/mod/report/24/btn-pass@1x.png') 1x, url('/static/img/mod/report/24/btn-pass@2x.png') 2x);
	background-image: -moz-image-set(url('/static/img/mod/report/24/btn-pass@1x.png') 1x, url('/static/img/mod/report/24/btn-pass@2x.png') 2x);
	background-image: -ms-image-set(url('/static/img/mod/report/24/btn-pass@1x.png') 1x, url('/static/img/mod/report/24/btn-pass@2x.png') 2x);
	background-image: -o-image-set(url('/static/img/mod/report/24/btn-pass@1x.png') 1x, url('/static/img/mod/report/24/btn-pass@2x.png') 2x);
}

/* component reset */
.field-label {
	color: #4a4a4a;
}
.field-input {
	height: 40px;
}

.ui-button:hover {
	color: #fff;
	border-bottom: 2px solid #405363;
}
.mod-show-report .ui-button {
	background: #596774;
	border-bottom: 2px solid #405363;
}


 
